PACKAGE_BASENAME="doocs-ulog-ctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/ulog/ulog-server-configuration.git"
VERSION="04.00.06"
TAGVERSION=04.00.06
SOVERSION="04.00bookworm1.06"
DEBVERSION="04-00"
PROJECT_BUILDVERSION="bookworm1"
PACKAGE_VERSION="04.00bookworm1.06"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the doocs-ulog-ctrl-config library version 04.00.06"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
