PACKAGE_BASENAME="libchimeratk-controlsystemadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter"
VERSION="02.11.00"
TAGVERSION=02.11.00
SOVERSION="02.11focal3.00"
DEBVERSION="02-11-focal3"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="02.11focal3.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter library version 02.11.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
