PACKAGE_BASENAME="doocs-llrfctrlconfig-generator"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/tools/rf/llrfCtrl_config.git"
VERSION="00.07.03"
TAGVERSION=00.07.03
SOVERSION="00.07xenial1.03"
DEBVERSION="00-07-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="00.07xenial1.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlconfig-generator library version 00.07.03"
ARCH="amd64"
