PACKAGE_BASENAME="config-bam-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/BAM/server-configurations/desy-bam-server-config.git"
VERSION="03.04.07"
TAGVERSION=03.04.07
SOVERSION="03.04noble5.07"
DEBVERSION="03-04"
PROJECT_BUILDVERSION="noble5"
PACKAGE_VERSION="03.04noble5.07"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the config-bam-server library version 03.04.07"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
