PACKAGE_BASENAME="libwt"
SOURCE_URI="https://github.com/emweb/wt"
VERSION="4.9.1"
TAGVERSION=4.9.1
SOVERSION="4.9focal1.1"
DEBVERSION="4-9-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="4.9focal1.1"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the wt library version 4.9.1"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
