Source: libchimeratk-deviceaccess
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), graphviz (= 2.42.2-3build2), libboost-dev (= 1.71.0.0ubuntu2), libboost-test-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-thread-dev (= 1.71.0.0ubuntu2), libboost-chrono-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), libxml++2.6-dev (= 2.40.1-3build1), libchimeratk-cppext-dev (= 01.05focal1.00-0), libexprtk-dev (= 01.03focal1.00-0)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/DeviceAccess

Package: libchimeratk-deviceaccess-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: libchimeratk-deviceaccess-doc
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess03-09-focal1, libboost-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-thread-dev (= 1.71.0.0ubuntu2), libboost-chrono-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), libchimeratk-cppext-dev (>= 01.05focal1), libchimeratk-cppext-dev (<< 01.05focal2)
Description: Header and cmake files for libchimeratk-deviceaccess. The files you need to compile against libchimeratk-deviceaccess.

Package: libchimeratk-deviceaccess03-09-focal1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: chimeratk-deviceaccess-lmap-editor
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-deviceaccess provides a C++ API to access devices through different protocols. ChimeraTK is a software framework which provides a C++ API, drivers and tools for hardware and control system access independent with a high abstraction level.

Package: libchimeratk-deviceaccess-doc
Section: libdevel
Architecture: any
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: libchimeratk-deviceaccess-dev
Provides: 
Depends: libchimeratk-deviceaccess-dev
Description: The doxygen html documentation for libchimeratk-deviceaccess and some examples.

Package: chimeratk-deviceaccess-lmap-editor
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: libchimeratk-deviceaccess03-09-focal1
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-lxml , python3-pyqt5
Description: GUI to create config files for the ChimeraTK DeviceAccess logical name mapping device backend.

Package: libchimeratk-deviceaccess
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: libchimeratk-deviceaccess03-09-focal1
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, libchimeratk-deviceaccess03-09-focal1
Description: Meta-package to declare dependencies to a package without version numbers in the name, which is not the dev-package.

