PACKAGE_BASENAME="libllrflibrary"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-library.git"
VERSION="05.05.00"
TAGVERSION=05.05.00
SOVERSION="05.05noble9.00"
DEBVERSION="05-05-noble9"
PROJECT_BUILDVERSION="noble9"
PACKAGE_VERSION="05.05noble9.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the llrflibrary library version 05.05.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
