PACKAGE_BASENAME="doocs-llrfpiezo-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/piezo/piezo-server-configuration.git"
VERSION="04.11.06"
TAGVERSION=04.11.06
SOVERSION="04.11focal4.06"
DEBVERSION="04-11"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="04.11focal4.06"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfpiezo-config library version 04.11.06"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
