PACKAGE_BASENAME="doocs-bam-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.16.06"
TAGVERSION=01.16.06
SOVERSION="01.16xenial7.06"
DEBVERSION="01-16-xenial7"
PROJECT_BUILDVERSION="xenial7"
PACKAGE_VERSION="01.16xenial7.06"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server library version 01.16.06"
ARCH="amd64"
