PACKAGE_BASENAME="doocs-llrfctrlsrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlsrf.git"
VERSION="05.02.00"
TAGVERSION=v05.02.00
SOVERSION="05.02xenial2.00"
DEBVERSION="05-02-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="05.02xenial2.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlsrf-server library version 05.02.00"
ARCH="amd64"
