PACKAGE_BASENAME="doocs-dism-generic-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/master-oscillator/mo-dism-generic-server-config.git"
VERSION="01.05.01"
TAGVERSION=01.05.01
SOVERSION="01.05noble1.01"
DEBVERSION="01-05-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="01.05noble1.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-dism-generic-server library version 01.05.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
