PACKAGE_BASENAME="libchimeratk-controlsystemadapter-epics-ioc-adapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-EPICS-IOC-Adapter"
VERSION="02.02.01"
TAGVERSION=02.02.01
SOVERSION="02.02bookworm8.01"
DEBVERSION="02-02-bookworm8"
PROJECT_BUILDVERSION="bookworm8"
PACKAGE_VERSION="02.02bookworm8.01"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-epics-ioc-adapter library version 02.02.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
