PACKAGE_BASENAME="libdoocs-tc4-eqfct"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/common/tc4eqfct.git"
VERSION="01.01.00"
TAGVERSION=01.01.00
SOVERSION="01.01xenial1.00"
DEBVERSION="01-01-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.01xenial1.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-tc4-eqfct library version 01.01.00"
ARCH="amd64"
