Source: doocs-laserlock-server
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: libconsatt-apps-dev (= 00.30focal4.01-0), libconsatt-doocs-dev (= 00.22focal5.02-0), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 23.6.0-focal1), dev-doocs-serverlib (= 23.6.0-focal1), doocs-watchdog-server (= 23.6.0-focal2)
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/laser-based-synchronisation/laser-synchronisation/laser-lock-server.git

Package: doocs-laserlock-server01-33-focal1
Section: net
Architecture: amd64
Conflicts: doocs-laserlock-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-laserlock-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server
Description: DOOCS server for laser locking application for LbSynch

