PACKAGE_BASENAME="doocs-llrfctrlsrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlsrf.git"
VERSION="05.06.01"
TAGVERSION=v05.06.01
SOVERSION="05.06xenial2.01"
DEBVERSION="05-06-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="05.06xenial2.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlsrf-server library version 05.06.01"
ARCH="amd64"
