Source: libtmcb-access
Priority: extra
Maintainer: Nadeem Shehzad <nadeem.shehzad@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libboost-dev (= 1.71.0.0ubuntu2), libchimeratk-deviceaccess-dev (= 03.02focal2.01-0)
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/infrastructure-and-support/tmcb/tmcb-library.git

Package: libtmcb-access-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libtmcb-access01-00-focal19, libboost-dev (= 1.71.0.0ubuntu2), libchimeratk-deviceaccess-dev (>= 03.02focal2), libchimeratk-deviceaccess-dev (<< 03.02focal3)
Description: Header and cmake files for the TMCB access library.

Package: libtmcb-access01-00-focal19
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraray with TMCB helper function.

