PACKAGE_BASENAME="libdemac"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/lbsync/libDemac.git"
VERSION="00.07.02"
TAGVERSION=00.07.02
SOVERSION="00.07xenial1.02"
DEBVERSION="00-07-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="00.07xenial1.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the demac library version 00.07.02"
ARCH="amd64"
