PACKAGE_BASENAME="libdoocs-fred-eqfct"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/fredeqfctlib.git"
VERSION="01.02.04"
TAGVERSION=01.02.04
SOVERSION="01.02xenial4.04"
DEBVERSION="01-02-xenial4"
PROJECT_BUILDVERSION="xenial4"
PACKAGE_VERSION="01.02xenial4.04"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-fred-eqfct library version 01.02.04"
ARCH="amd64"
