PACKAGE_BASENAME="libamtfdbaccess"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/AmtfDbAccess.git"
VERSION="02.07.01"
TAGVERSION=02.07.01
SOVERSION="02.07xenial1.01"
DEBVERSION="02-07-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="02.07xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the amtfdbaccess library version 02.07.01"
ARCH="amd64"
