PACKAGE_BASENAME="epics-llrfctrl-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrfctrl-server.git"
VERSION="07.08.02"
TAGVERSION=07.08.02
SOVERSION="07.08focal2.02"
DEBVERSION="07-08-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="07.08focal2.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the epics-llrfctrl-server library version 07.08.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
