PACKAGE_BASENAME="libmtca4u-motordrivercard"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard"
VERSION="01.10.04"
TAGVERSION=01.10.04
SOVERSION="01.10focal8.04"
DEBVERSION="01-10-focal8"
PROJECT_BUILDVERSION="focal8"
PACKAGE_VERSION="01.10focal8.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the mtca4u-motordrivercard library version 01.10.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
