PACKAGE_BASENAME="python3-textual"
SOURCE_URI="https://github.com/Textualize/textual"
VERSION="6.8.0"
TAGVERSION=v6.8.0
SOVERSION="6.8noble1.0"
DEBVERSION="6-8"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="6.8noble1.0"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the python3-textual library version 6.8.0"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
