Source: doocs-linklock-server
Priority: optional
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: debhelper | debhelper-compat, libconsatt-apps-dev (= 00.37focal1.00-0), libconsatt-doocs-dev (= 00.26focal1.00-0), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 24.6.2-focal1), dev-doocs-serverlib (= 24.6.2-focal1), doocs-watchdog-server (= 24.6.2-focal3), pkg-config (= 0.29.1-0ubuntu4) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/laser-based-synchronisation/fibre-link-stabilisation/link-lock-server.git

Package: doocs-linklock-server01-28-focal2
Section: net
Architecture: amd64
Conflicts: doocs-linklock-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-linklock-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server
Description: DOOCS server for LSU for LbSynch

