PACKAGE_BASENAME="doocs-eod-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/eod/eod-server.git"
VERSION="01.00.00"
TAGVERSION=01.00.00
SOVERSION="01.00focal1.00"
DEBVERSION="01-00-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.00focal1.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-eod-server library version 01.00.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
