Source: libchimeratk-motordrivercard-applicationmodule
Priority: extra
Maintainer: Christoph Kampmeyer <christoph.kampmeyer@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libmtca4u-motordrivercard-dev (= 01.10focal6.02-0), libchimeratk-applicationcore-dev (= 02.00focal5.04-0)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/MotorDriverCard-ApplicationModule

Package: libchimeratk-motordrivercard-applicationmodule-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-motordrivercard-applicationmodule00-02-focal10, libmtca4u-motordrivercard-dev (>= 01.10focal6), libmtca4u-motordrivercard-dev (<< 01.10focal7), libchimeratk-applicationcore-dev (>= 02.00focal5), libchimeratk-applicationcore-dev (<< 02.00focal6)
Description: Header and cmake files for ChimeraTK MotorDriverCard-ApplicationModule. The files you need to compile against this library.

Package: libchimeratk-motordrivercard-applicationmodule00-02-focal10
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ChimeraTK MotorDriverCard-ApplicationModule provides an ApplicationCore interface to the MotorDriverCard library.

