PACKAGE_BASENAME="doocs-llrfctrlconfig-generator"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/tools/rf/llrfCtrl_config.git"
VERSION="01.07.21"
TAGVERSION=01.07.21
SOVERSION="01.07xenial1.21"
DEBVERSION="01-07"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.07xenial1.21"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlconfig-generator library version 01.07.21"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
