PACKAGE_BASENAME="doocs-llrfctrlconfig-generator"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/tools/rf/llrfCtrl_config.git"
VERSION="01.02.17"
TAGVERSION=01.02.17
SOVERSION="01.02xenial1.17"
DEBVERSION="01-02-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.02xenial1.17"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlconfig-generator library version 01.02.17"
ARCH="amd64"
