PACKAGE_BASENAME="libdoocs-rf-util"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/util.git"
VERSION="01.02.03"
TAGVERSION=01.02.03
SOVERSION="01.02focal9.03"
DEBVERSION="01-02-focal9"
PROJECT_BUILDVERSION="focal9"
PACKAGE_VERSION="01.02focal9.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-rf-util library version 01.02.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
