PACKAGE_BASENAME="opcua-generic-chimeratk-server02"
SOURCE_URI="https://github.com/ChimeraTK/GenericDeviceServer.git"
VERSION="02.00.01"
TAGVERSION=02.00.01
SOVERSION="02.00bookworm6.01"
DEBVERSION="02-00-bookworm6"
PROJECT_BUILDVERSION="bookworm6"
PACKAGE_VERSION="02.00bookworm6.01"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the opcua-generic-chimeratk-server02 library version 02.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
