PACKAGE_BASENAME="libdoocs-server-test-helper"
SOURCE_URI="https://github.com/ChimeraTK/DoocsServerTestHelper"
VERSION="01.07.00"
TAGVERSION=01.07.00
SOVERSION="01.07focal13.00"
DEBVERSION="01-07-focal13"
PROJECT_BUILDVERSION="focal13"
PACKAGE_VERSION="01.07focal13.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-server-test-helper library version 01.07.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
