PACKAGE_BASENAME="doocs-ldd-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/laser-diode-driver/ldd-server-configuration.git"
VERSION="01.08.16"
TAGVERSION=01.08.16
SOVERSION="01.08noble3.16"
DEBVERSION="01-08"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="01.08noble3.16"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-ldd-config library version 01.08.16"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
