Source: libaiousb
Priority: extra
Maintainer: Nadeem Shehzad <nadeem.shehzad@desy.de>
Build-Depends: cmake (= 3.16.3-1ubuntu1), libusb-1.0-0 (= 2:1.0.23-2build1), libusb-1.0-0-dev (= 2:1.0.23-2build1), swig (= 4.0.1-5build1), python3-dev (= 3.8.2-0ubuntu2)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/aiousb

Package: libaiousb-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libaiousb01-00-focal1, libusb-1.0-0-dev (= 2:1.0.23-2build1), python3-dev (= 3.8.2-0ubuntu2)
Description: Header and cmake files for the aiousb library.

Package: libaiousb01-00-focal1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The aiousb library.

Package: libaiousb
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python3
Description: This package provides Python binding for aiousb library.

Package: libaiousb-firmwares
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: hex files for asiousb device testing.

Package: libaiousb-rules
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: udev files for asiousb device.

