Source: doocs-fred-server
Priority: extra
Maintainer: N Shehzad <nadeem.shehzad@desy.de>
Build-Depends: libfred-dev (= 02.01xenial1.00), libchimeratk-applicationcore-dev (= 01.06xenial1.00), libchimeratk-controlsystemadapter-doocsadapter-dev (= 00.14xenial1.01), dev-doocs-clientlib (= 19.5.0-xenial1), dev-doocs-serverlib (= 19.5.0-xenial1), doocs-watchdog-server (= 19.5.0-xenial1), doocs-llrfctrlconfig-generator01-06 (= 01.06xenial2.16)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/utility/fred.git

Package: doocs-fred-server01-05-xenial1
Section: net
Architecture: amd64
Conflicts: doocs-fred-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-fred-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-llrfctrlconfig-generator01-06
Description: Doocs server for the FRED.

