PACKAGE_BASENAME="doocs-llrfpiezo-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/piezo/piezo-server-configuration.git"
VERSION="04.03.10"
TAGVERSION=04.03.10
SOVERSION="04.03focal3.10"
DEBVERSION="04-03"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="04.03focal3.10"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfpiezo-config library version 04.03.10"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
