PACKAGE_BASENAME="doocs-fred-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/utility/fred.git"
VERSION="01.07.01"
TAGVERSION=01.07.01
SOVERSION="01.07focal4.01"
DEBVERSION="01-07-focal4"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="01.07focal4.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-fred-server library version 01.07.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
