Source: doocs-sdm-server
Priority: extra
Maintainer: Jens Georg <jens.georg@desy.de>
Build-Depends: libboost-dev (= 1.58.0.1ubuntu1), libboost-thread-dev (= 1.58.0.1ubuntu1), libboost-system-dev (= 1.58.0.1ubuntu1), libboost-filesystem-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 19.5.0-xenial1), dev-doocs-serverlib (= 19.5.0-xenial1), doocs-watchdog-server (= 19.5.0-xenial3), libchimeratk-deviceaccess-dev (= 01.07xenial1.00), libmtca4u-motordrivercard-dev (= 01.09xenial9.00), dev-doocs-csalib (= 0.0.46-xenial1), libtec-dev (= 01.03xenial10.00), libconsatt-dev (= 00.12xenial1.00), libconsatt-doocs-dev (= 00.09xenial1.00), libdemac-dev (= 00.13xenial3.00), dev-doocs-libgul (= 19.5.0-xenial1), doocs-llrfctrlconfig-generator01-06 (= 01.06xenial2.28)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/diagnostics/sdm.git/

Package: doocs-sdm-server01-07-xenial2
Section: net
Architecture: amd64
Conflicts: doocs-sdm-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-sdm-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-llrfctrlconfig-generator01-06
Description: DOOCS server for Special Diagnostic Module

