PACKAGE_BASENAME="libchimeratk-controlsystemadapter-opcuaadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-OPC-UA-Adapter"
VERSION="01.09.00"
TAGVERSION=01.09.00
SOVERSION="01.09xenial6.00"
DEBVERSION="01-09-xenial6"
PROJECT_BUILDVERSION="xenial6"
PACKAGE_VERSION="01.09xenial6.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-opcuaadapter library version 01.09.00"
ARCH="amd64"
