PACKAGE_BASENAME="libmtca4u-deviceaccess"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess"
VERSION="00.22.01"
TAGVERSION=00.22.01
SOVERSION="00.22xenial1.01"
DEBVERSION="00-22-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="00.22xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the mtca4u-deviceaccess library version 00.22.01"
ARCH="amd64"
