PACKAGE_BASENAME="libdoocs-tc4-eqfct"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/common/tc4eqfct.git"
VERSION="01.02.00"
TAGVERSION=01.02.00
SOVERSION="01.02xenial7.00"
DEBVERSION="01-02-xenial7"
PROJECT_BUILDVERSION="xenial7"
PACKAGE_VERSION="01.02xenial7.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-tc4-eqfct library version 01.02.00"
ARCH="amd64"
