PACKAGE_BASENAME="python-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="01.03.03"
TAGVERSION=01.03.03
SOVERSION="01.03xenial9.03"
DEBVERSION="01-03-xenial9"
PROJECT_BUILDVERSION="xenial9"
PACKAGE_VERSION="01.03xenial9.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the python-mtca4upy library version 01.03.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
