Source: doocs-bam-server
Priority: extra
Maintainer: Jens Georg <jens.georg@desy.de>
Build-Depends: libbeam-arrival-time-monitor-dev (= 02.00xenial21.04), libboost-dev (= 1.58.0.1ubuntu1), libboost-test-dev (= 1.58.0.1ubuntu1), libboost-thread-dev (= 1.58.0.1ubuntu1), libboost-system-dev (= 1.58.0.1ubuntu1), libboost-filesystem-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 19.10.0-xenial1), dev-doocs-serverlib (= 19.10.0-xenial2), dev-doocs-doocsdzmqlib (= 19.10.0-xenial1), libchimeratk-deviceaccess-dev (= 01.08xenial1.00), doocs-watchdog-server (= 19.10.0-xenial2), dev-doocs-libgul (= 19.10.0-xenial1), libchimeratk-deviceaccess-doocsbackend-dev (= 00.17xenial6.01)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git

Package: doocs-bam-server01-16-xenial6
Section: net
Architecture: amd64
Conflicts: doocs-bam-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-bam-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, bam-init-scripts
Description: DOOCS server for Beam Arrival time Monitor for XFEL and FLASH

Package: bam-init-scripts
Section: net
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-mtca4upy, python3-numpy
Description: Initialization scripts for bam and motor hardware

