PACKAGE_BASENAME="libmtca4u-motordrivercard"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard"
VERSION="00.12.02"
TAGVERSION=00.12.02
SOVERSION="00.12trusty3.02"
DEBVERSION="00-12-trusty3"
PROJECT_BUILDVERSION="trusty3"
PACKAGE_VERSION="00.12trusty3.02"
DISTRIBUTION="trusty"
PACKAGE_MESSAGE="Debian package for the mtca4u-motordrivercard library version 00.12.02"
ARCH="amd64"
