PACKAGE_BASENAME="libconsatt-doocs"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/consatt-based-libraries/consatt-doocs.git"
VERSION="00.27.01"
TAGVERSION=00.27.01
SOVERSION="00.27noble3.01"
DEBVERSION="00-27-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="00.27noble3.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the consatt-doocs library version 00.27.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
