PACKAGE_BASENAME="qthardmon"
SOURCE_URI="https://github.com/ChimeraTK/QtHardMon"
VERSION="01.07.02"
TAGVERSION=01.07.02
SOVERSION="01.07focal14.02"
DEBVERSION="01-07-focal14"
PROJECT_BUILDVERSION="focal14"
PACKAGE_VERSION="01.07focal14.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the qthardmon library version 01.07.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
