PACKAGE_BASENAME="libchimeratk-controlsystemadapter-doocsadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-DoocsAdapter"
VERSION="01.15.01"
TAGVERSION=01.15.01
SOVERSION="01.15noble3.01"
DEBVERSION="01-15-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="01.15noble3.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-doocsadapter library version 01.15.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
