PACKAGE_BASENAME="config-bam-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/BAM/server-configurations/desy-bam-server-config.git"
VERSION="03.05.04"
TAGVERSION=03.05.04
SOVERSION="03.05noble3.04"
DEBVERSION="03-05"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="03.05noble3.04"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the config-bam-server library version 03.05.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
