PACKAGE_BASENAME="libdoocsllrfwrapper"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/doocsllrfwrapper.git"
VERSION="00.14.03"
TAGVERSION=00.14.03
SOVERSION="00.14xenial39.03"
DEBVERSION="00-14-xenial39"
PROJECT_BUILDVERSION="xenial39"
PACKAGE_VERSION="00.14xenial39.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocsllrfwrapper library version 00.14.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
