PACKAGE_BASENAME="libdaction"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git"
VERSION="02.16.03"
TAGVERSION=02.16.03
SOVERSION="02.16xenial41.03"
DEBVERSION="02-16-xenial41"
PROJECT_BUILDVERSION="xenial41"
PACKAGE_VERSION="02.16xenial41.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the daction library version 02.16.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
