PACKAGE_BASENAME="libdaction"
SOURCE_URI="https://gitlab.desy.de/msk-sw/utilities/libraries/daction.git"
VERSION="03.01.02"
TAGVERSION=03.01.02
SOVERSION="03.01noble18.02"
DEBVERSION="03-01-noble18"
PROJECT_BUILDVERSION="noble18"
PACKAGE_VERSION="03.01noble18.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the daction library version 03.01.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
