Source: doocs-linklock-server
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: libconsatt-apps-dev (= 00.24focal3.01-0), libconsatt-doocs-dev (= 00.18focal2.01-0), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 22.6.1-focal1), dev-doocs-serverlib (= 22.6.1-focal1), doocs-watchdog-server (= 22.6.1-focal1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/laser-based-synchronisation/link-locking/link-locking-server.git

Package: doocs-linklock-server01-18-focal2
Section: net
Architecture: amd64
Conflicts: doocs-linklock-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-linklock-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server
Description: DOOCS server for link locking application for LbSynch

