PACKAGE_BASENAME="doocs-linklock-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/link-locking/link-locking-server.git"
VERSION="01.18.01"
TAGVERSION=01.18.01
SOVERSION="01.18focal2.01"
DEBVERSION="01-18-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="01.18focal2.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-linklock-server library version 01.18.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
