PACKAGE_BASENAME="libdaction"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git"
VERSION="02.07.00"
TAGVERSION=02.07.00
SOVERSION="02.07xenial6.00"
DEBVERSION="02-07-xenial6"
PROJECT_BUILDVERSION="xenial6"
PACKAGE_VERSION="02.07xenial6.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the daction library version 02.07.00"
ARCH="amd64"
