PACKAGE_BASENAME="doocs-llrfctrlsrf-server"
SOURCE_URI="file:///home/mhier/DoocsServers/sources/llrfctrlsrf"
VERSION="3.6.1"
TAGVERSION=v3.6.1
SOVERSION="3.6xenial1.1"
DEBVERSION="3-6-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="3.6xenial1.1"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlsrf-server library version 3.6.1"
ARCH="amd64"
