PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="01.04.01"
TAGVERSION=01.04.01
SOVERSION="01.04focal4.01"
DEBVERSION="01-04-focal4"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="01.04focal4.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 01.04.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
