Source: libchimeratk-deviceaccess-doocsbackend
Priority: optional
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: debhelper | debhelper-compat, doxygen (>= 1.9.8+ds-2build5), libchimeratk-deviceaccess-dev (= 03.26noble1.00-0), dev-doocs-clientlib (= 26.2.0-noble1), dev-doocs-serverlib (= 26.2.0-noble1), libboost-test-dev (>= 1.83.0.1ubuntu2), libdoocs-server-test-helper-dev (= 01.07noble10.03-0), dev-doocs-libgul14 (= 26.2.0-noble1), libxml++2.6-dev (>= 2.42.3-1build2), libtirpc-dev (>= 1.3.4+ds-1.1build1), pkg-config (>= 1.8.1-2build1), libzmq3-dev (>= 4.3.5-1build2), libchimeratk-deviceaccess (= 03.26noble1.00-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/DeviceAccess-DoocsBackend

Package: libchimeratk-deviceaccess-doocsbackend-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess-doocsbackend (= 01.12noble2.00), libchimeratk-deviceaccess-dev (>= 03.26noble1), libchimeratk-deviceaccess-dev (<< 03.26noble2), dev-doocs-clientlib (= 26.2.0-noble1), dev-doocs-serverlib (= 26.2.0-noble1)
Description: Header and cmake files for the DOOCS Backend for the ChimeraTK DeviceAccess library. The files you need to compile against libchimeratk-deviceaccess-doocsbackend.

Package: libchimeratk-deviceaccess-doocsbackend01-12-noble2
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-deviceaccess-doocsbackend provides the DOOCS backend for the ChimeraTK DeviceAccess library, which allows accessing DOOCS servers as devices through the DeviceAccess interface.

Package: libchimeratk-deviceaccess-doocsbackend
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess-doocsbackend01-12-noble2, libchimeratk-deviceaccess (>= 03.26noble1), libchimeratk-deviceaccess (<< 03.26noble2)
Description: "Provides the so-file symlink without version number for runtime loading without bringing all the dev package dependencies."

