PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="01.12.00"
TAGVERSION=01.12.00
SOVERSION="01.12noble2.00"
DEBVERSION="01-12-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="01.12noble2.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 01.12.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
