PACKAGE_BASENAME="libmtca4u-motordrivercard"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard"
VERSION="01.12.02"
TAGVERSION=01.12.02
SOVERSION="01.12focal15.02"
DEBVERSION="01-12-focal15"
PROJECT_BUILDVERSION="focal15"
PACKAGE_VERSION="01.12focal15.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the mtca4u-motordrivercard library version 01.12.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
