Source: libmtca4u-virtuallab
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper (= 9.20131227ubuntu1), cmake (= 2.8.12.2-0ubuntu3), doxygen (= 1.8.6-2), libmtca4u-deviceaccess-dev (= 00.19trusty1.01), libboost-test-dev (= 1.54.0.1ubuntu1), libboost-system-dev (= 1.54.0.1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/VirtualLab

Package: libmtca4u-virtuallab-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libmtca4u-virtuallab00-05-trusty1, libmtca4u-deviceaccess-dev (>= 00.19trusty1), libmtca4u-deviceaccess-dev (<< 00.19trusty2)
Description: Header and cmake files for libmtca4u-virtuallab. The files you need to compile against libmtca4u-virtuallab.

Package: libmtca4u-virtuallab00-05-trusty1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Framework for creating virtual devices connected to modelled hardware components. VirtualLab is part of the ChimeraTK tool kit.

