PACKAGE_BASENAME="doocs-sdm-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/sdm-config.git"
VERSION="01.08.01"
TAGVERSION=01.08.01
SOVERSION="01.08xenial2.01"
DEBVERSION="01-08"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="01.08xenial2.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-sdm-config library version 01.08.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
