PACKAGE_BASENAME="libbeam-arrival-time-monitor"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/diagnostics/libBAM.git/"
VERSION="01.07.00"
TAGVERSION=01.07.00
SOVERSION="01.07xenial12.00"
DEBVERSION="01-07-xenial12"
PROJECT_BUILDVERSION="xenial12"
PACKAGE_VERSION="01.07xenial12.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the beam-arrival-time-monitor library version 01.07.00"
ARCH="amd64"
