PACKAGE_BASENAME="libchimeratk-applicationcore-loggingmodule"
SOURCE_URI="https://github.com/ChimeraTK/ApplicationCore-LoggingModule"
VERSION="01.00.01"
TAGVERSION=01.00.01
SOVERSION="01.00focal2.01"
DEBVERSION="01-00-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="01.00focal2.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-applicationcore-loggingmodule library version 01.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
