PACKAGE_BASENAME="doocs-tel-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/anomaly-detection/anomaly-detection-config.git"
VERSION="01.00.01"
TAGVERSION=01.00.01
SOVERSION="01.00focal1.01"
DEBVERSION="01-00"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.00focal1.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-tel-config library version 01.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
