PACKAGE_BASENAME="doocs-refmopt-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/refm-opt/refm-opt-server.git"
VERSION="01.04.01"
TAGVERSION=01.04.01
SOVERSION="01.04noble2.01"
DEBVERSION="01-04-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="01.04noble2.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-refmopt-server library version 01.04.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
