PACKAGE_BASENAME="libopen62541"
SOURCE_URI="https://github.com/ChimeraTK/open62541-interface"
VERSION="0.2.2-1"
TAGVERSION=0.2.2-1
SOVERSION="0.2xenial1.2-1"
DEBVERSION="0-2-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="0.2xenial1.2-1"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the open62541 library version 0.2.2-1"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
