PACKAGE_BASENAME="libdoocs-server-test-helper"
SOURCE_URI="https://github.com/ChimeraTK/DoocsServerTestHelper"
VERSION="01.06.04"
TAGVERSION=01.06.04
SOVERSION="01.06focal8.04"
DEBVERSION="01-06-focal8"
PROJECT_BUILDVERSION="focal8"
PACKAGE_VERSION="01.06focal8.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-server-test-helper library version 01.06.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
