PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrfctrl-config.git"
VERSION="07.08.20"
TAGVERSION=07.08.20
SOVERSION="07.08focal4.20"
DEBVERSION="07-08"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="07.08focal4.20"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 07.08.20"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
