PACKAGE_BASENAME="doocs-pi-qmotion-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/pi-qmotion/pi-qmotion-server.git"
VERSION="01.01.00"
TAGVERSION=01.01.00
SOVERSION="01.01noble1.00"
DEBVERSION="01-01-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="01.01noble1.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-pi-qmotion-server library version 01.01.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
