PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrfctrl-server.git"
VERSION="08.04.01"
TAGVERSION=08.04.01
SOVERSION="08.04focal5.01"
DEBVERSION="08-04-focal5"
PROJECT_BUILDVERSION="focal5"
PACKAGE_VERSION="08.04focal5.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 08.04.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
