PACKAGE_BASENAME="libmtca4u-virtuallab"
SOURCE_URI="https://github.com/ChimeraTK/VirtualLab"
VERSION="00.08.03"
TAGVERSION=00.08.03
SOVERSION="00.08focal8.03"
DEBVERSION="00-08-focal8"
PROJECT_BUILDVERSION="focal8"
PACKAGE_VERSION="00.08focal8.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the mtca4u-virtuallab library version 00.08.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
