Source: libchimeratk-cppext
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: doxygen (= 1.8.11-1), libboost-dev (= 1.58.0.1ubuntu1), libboost-test-dev (= 1.58.0.1ubuntu1), libboost-system-dev (= 1.58.0.1ubuntu1), libboost-thread-dev (= 1.58.0.1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/cppext

Package: libchimeratk-cppext-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: libchimeratk-cppext-doc
Suggests: 
Enhances: 
Provides: 
Depends: 
Description: Small header-only C++ library with a collection with useful template classes for use within the ChimeraTK framework.

Package: libchimeratk-cppext-doc
Section: libdevel
Architecture: any
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: libchimeratk-cppext-dev
Provides: 
Depends: libchimeratk-cppext-dev
Description: The doxygen html documentation for libchimeratk-cppext.

