PACKAGE_BASENAME="doocs-llrfdiagnostic-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrf-diagnostics/llrf-diagnostic-config.git"
VERSION="03.03.03"
TAGVERSION=03.03.03
SOVERSION="03.03focal2.03"
DEBVERSION="03-03"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="03.03focal2.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfdiagnostic-config library version 03.03.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
