Source: libtec-applicationmodule
Priority: optional
Maintainer: Jens Georg <jgeorg@desy.de>
Build-Depends: debhelper | debhelper-compat, libtec-dev (= 02.01noble3.01-0), libchimeratk-deviceaccess-dev (= 03.19noble1.00-0), libchimeratk-applicationcore-dev (= 04.01noble2.01-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/infrastructure-and-support/tec/tec-applicationmodule.git

Package: libtec-applicationmodule-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libtec-applicationmodule02-01-noble3, libtec-dev (>= 02.01noble3), libtec-dev (<< 02.01noble4), libchimeratk-deviceaccess-dev (>= 03.19noble1), libchimeratk-deviceaccess-dev (<< 03.19noble2), libchimeratk-applicationcore-dev (>= 04.01noble2), libchimeratk-applicationcore-dev (<< 04.01noble3)
Description: Header and cmake files for TEC controller ApplicationModule

Package: libtec-applicationmodule02-01-noble3
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TEC controller ApplicationModule. Developed at DESY for the  FLASH/XFEL project.

