PACKAGE_BASENAME="doocs-ldd-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/laser-diode-driver/ldd-server.git"
VERSION="01.08.02"
TAGVERSION=01.08.02
SOVERSION="01.08noble1.02"
DEBVERSION="01-08-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="01.08noble1.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-ldd-server library version 01.08.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
