PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-controller-server-configuration/llrfctrl-config.git"
VERSION="08.03.17"
TAGVERSION=08.03.17
SOVERSION="08.03focal3.17"
DEBVERSION="08-03"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="08.03focal3.17"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 08.03.17"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
