PACKAGE_BASENAME="libconsatt-doocs"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/lbsync/libConsatt-Doocs.git"
VERSION="00.17.00"
TAGVERSION=00.17.00
SOVERSION="00.17focal2.00"
DEBVERSION="00-17-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="00.17focal2.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the consatt-doocs library version 00.17.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
