PACKAGE_BASENAME="libchimeratk-cppext"
SOURCE_URI="https://github.com/ChimeraTK/cppext"
VERSION="01.06.00"
TAGVERSION=01.06.00
SOVERSION="01.06bookworm3.00"
DEBVERSION="01-06-bookworm3"
PROJECT_BUILDVERSION="bookworm3"
PACKAGE_VERSION="01.06bookworm3.00"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-cppext library version 01.06.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
