Source: doocs-laserlock-server
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: libconsatt-apps-dev (= 00.12xenial1.00), libconsatt-doocs-dev (= 00.09xenial4.02), libboost-system-dev (= 1.58.0.1ubuntu1), libboost-filesystem-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 19.8.2-xenial1), dev-doocs-serverlib (= 19.8.2-xenial2), doocs-watchdog-server (= 19.8.2-xenial4)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/lbsync/laserlock.git

Package: doocs-laserlock-server01-15-xenial1
Section: net
Architecture: amd64
Conflicts: doocs-laserlock-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-laserlock-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server
Description: DOOCS server for laser locking application for LbSynch

