Source: libchimeratk-applicationcore-loggingmodule
Priority: optional
Maintainer: Klaus Zenker <k.zenker@hzdr.de>
Build-Depends: debhelper | debhelper-compat, doxygen (= 1.8.17-0ubuntu2), libchimeratk-applicationcore-dev (= 04.01focal1.00-0), libboost-filesystem-dev (= 1.71.0.0ubuntu2) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ApplicationCore-LoggingModule

Package: libchimeratk-applicationcore-loggingmodule-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-applicationcore-loggingmodule01-01-focal15, libchimeratk-applicationcore-dev (>= 04.01focal1), libchimeratk-applicationcore-dev (<< 04.01focal2), libboost-filesystem-dev (= 1.71.0.0ubuntu2)
Description: Header and cmake files for the ApplicationCore logging module.

Package: libchimeratk-applicationcore-loggingmodule01-01-focal15
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Provides the server based ApplicaitonCore logging module.

