PACKAGE_BASENAME="doocs-steppermotor-server"
SOURCE_URI="git@doocs-git.desy.de:doocs/server/motor/ChimeraTK_StepperMotor.git"
VERSION="00.01.03"
TAGVERSION=00.01.03
SOVERSION="00.01focal1.03"
DEBVERSION="00-01-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="00.01focal1.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-steppermotor-server library version 00.01.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
