PACKAGE_BASENAME="doocs-bam-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.19.05"
TAGVERSION=01.19.05
SOVERSION="01.19focal1.05"
DEBVERSION="01-19-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.19focal1.05"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server library version 01.19.05"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
