PACKAGE_BASENAME="doocs-klm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/klm/klm-config.git"
VERSION="03.02.07"
TAGVERSION=03.02.07
SOVERSION="03.02noble3.07"
DEBVERSION="03-02"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="03.02noble3.07"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-klm-config library version 03.02.07"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
