PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="00.15.00"
TAGVERSION=00.15.00
SOVERSION="00.15xenial3.00"
DEBVERSION="00-15-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="00.15xenial3.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 00.15.00"
ARCH="amd64"
