PACKAGE_BASENAME="libmtca4u-motordrivercard"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard"
VERSION="01.15.00"
TAGVERSION=01.15.00
SOVERSION="01.15bookworm10.00"
DEBVERSION="01-15-bookworm10"
PROJECT_BUILDVERSION="bookworm10"
PACKAGE_VERSION="01.15bookworm10.00"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the mtca4u-motordrivercard library version 01.15.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
