PACKAGE_BASENAME="libdoocs-server-test-helper"
SOURCE_URI="https://github.com/ChimeraTK/DoocsServerTestHelper"
VERSION="00.03.00"
TAGVERSION=00.03.00
SOVERSION="00.03precise2.00"
DEBVERSION="00-03-precise2"
PROJECT_BUILDVERSION="precise2"
PACKAGE_VERSION="00.03precise2.00"
DISTRIBUTION="precise"
PACKAGE_MESSAGE="Debian package for the doocs-server-test-helper library version 00.03.00"
ARCH="amd64"
