PACKAGE_BASENAME="libconsatt-apps"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/consatt-based-libraries/consatt-apps.git"
VERSION="00.37.00"
TAGVERSION=00.37.00
SOVERSION="00.37noble4.00"
DEBVERSION="00-37-noble4"
PROJECT_BUILDVERSION="noble4"
PACKAGE_VERSION="00.37noble4.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the consatt-apps library version 00.37.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
