Source: libmtca4u-virtuallab
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libchimeratk-deviceaccess-dev (= 02.00focal1.01-0), libboost-test-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/VirtualLab

Package: libmtca4u-virtuallab-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libmtca4u-virtuallab00-08-focal2, libchimeratk-deviceaccess-dev (>= 02.00focal1), libchimeratk-deviceaccess-dev (<< 02.00focal2)
Description: Header and cmake files for libmtca4u-virtuallab. The files you need to compile against libmtca4u-virtuallab.

Package: libmtca4u-virtuallab00-08-focal2
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Framework for creating virtual devices connected to modelled hardware components. VirtualLab is part of the ChimeraTK tool kit.

