PACKAGE_BASENAME="libdaction"
SOURCE_URI="https://gitlab.desy.de/msk-sw/utilities/libraries/daction.git"
VERSION="03.01.00"
TAGVERSION=03.01.00
SOVERSION="03.01focal10.00"
DEBVERSION="03-01-focal10"
PROJECT_BUILDVERSION="focal10"
PACKAGE_VERSION="03.01focal10.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the daction library version 03.01.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
