PACKAGE_BASENAME="doocs-llrfctrlconfig-generator"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/tools/rf/llrfCtrl_config.git"
VERSION="01.00.23"
TAGVERSION=01.00.23
SOVERSION="01.00xenial1.23"
DEBVERSION="01-00-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.00xenial1.23"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlconfig-generator library version 01.00.23"
ARCH="amd64"
