PACKAGE_BASENAME="libchimeratk-controlsystemadapter-tangoadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-TangoAdapter"
VERSION="02.00.00"
TAGVERSION=02.00.00
SOVERSION="02.00bookworm2.00"
DEBVERSION="02-00-bookworm2"
PROJECT_BUILDVERSION="bookworm2"
PACKAGE_VERSION="02.00bookworm2.00"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-tangoadapter library version 02.00.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
