PACKAGE_BASENAME="xdma-dkms"
SOURCE_URI="https://github.com/MicroTCA-Tech-Lab/xdma-metapackage"
VERSION="2020.1.8"
TAGVERSION=2020.1.8
SOVERSION="2020.1xenial1.8"
DEBVERSION="2020-1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="2020.1xenial1.8"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the xdma-dkms library version 2020.1.8"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
