PACKAGE_BASENAME="python3-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="01.00.03"
TAGVERSION=01.00.03
SOVERSION="01.00xenial2.03"
DEBVERSION="01-00-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="01.00xenial2.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the python3-mtca4upy library version 01.00.03"
ARCH="amd64"
