PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="01.11.01"
TAGVERSION=01.11.01
SOVERSION="01.11noble2.01"
DEBVERSION="01-11-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="01.11noble2.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 01.11.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
