PACKAGE_BASENAME="formalised-log"
SOURCE_URI="http://doocs-git.desy.de/cgit/vendor/desy/mcs/logbook/formalisedlog.git"
VERSION="01.00.01"
TAGVERSION=01.00.01
SOVERSION="01.00bionic2.01"
DEBVERSION="01-00-bionic2"
PROJECT_BUILDVERSION="bionic2"
PACKAGE_VERSION="01.00bionic2.01"
DISTRIBUTION="bionic"
PACKAGE_MESSAGE="Debian package for the formalised-log library version 01.00.01"
ARCH="amd64"
