PACKAGE_BASENAME="gpcieuni"
SOURCE_URI="https://github.com/ChimeraTK/gpcieuni-basedriver"
VERSION="00.01.09"
TAGVERSION=00.01.09
SOVERSION="00.01noble1.09"
DEBVERSION="00-01"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="00.01noble1.09"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the gpcieuni library version 00.01.09"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
