PACKAGE_BASENAME="libchimeratk-controlsystemadapter-epics-ioc-adapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-EPICS-IOC-Adapter"
VERSION="01.02.04"
TAGVERSION=01.02.04
SOVERSION="01.02focal17.04"
DEBVERSION="01-02-focal17"
PROJECT_BUILDVERSION="focal17"
PACKAGE_VERSION="01.02focal17.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-epics-ioc-adapter library version 01.02.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
