Source: config-generator-scripts
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper | debhelper-compat, debhelper (= 13.11.4), cmake (= 3.25.1-1), python3 (= 3.11.2-1+b1), python3-mako (= 1.2.4+ds-1), python3-pytest (= 7.2.1-2), python3-mtca4upy (= 03.05bookworm1.00-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/utilities/config-generator/config-generator-scripts.git

Package: config-generator-scripts03-02
Section: net
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: config-generator-scripts
Depends: ${shlibs:Depends}, ${misc:Depends}, git, python3, python3-mako, python3-packaging, python3-simplejson, ca-certificates, python3-pytest
Description: Config Generator script package, for MSK server auto-configuration

