PACKAGE_BASENAME="libbeam-arrival-time-monitor"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/diagnostics/libBAM.git/"
VERSION="04.00.01"
TAGVERSION=04.00.01
SOVERSION="04.00focal2.01"
DEBVERSION="04-00-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="04.00focal2.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the beam-arrival-time-monitor library version 04.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
