PACKAGE_BASENAME="libchimeratk-virtuallab"
SOURCE_URI="https://github.com/ChimeraTK/VirtualLab"
VERSION="01.01.01"
TAGVERSION=01.01.01
SOVERSION="01.01focal5.01"
DEBVERSION="01-01-focal5"
PROJECT_BUILDVERSION="focal5"
PACKAGE_VERSION="01.01focal5.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-virtuallab library version 01.01.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
