PACKAGE_BASENAME="doocs-linklock-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/fibre-link-stabilisation/link-lock-server.git"
VERSION="01.21.00"
TAGVERSION=01.21.00
SOVERSION="01.21focal1.00"
DEBVERSION="01-21-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.21focal1.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-linklock-server library version 01.21.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
