PACKAGE_BASENAME="xdma-dkms"
SOURCE_URI="https://github.com/MicroTCA-Tech-Lab/xdma-metapackage"
VERSION="2020.2.5"
TAGVERSION=2020.2.5
SOVERSION="2020.2focal1.5"
DEBVERSION="2020-2"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="2020.2focal1.5"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the xdma-dkms library version 2020.2.5"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
