PACKAGE_BASENAME="libmtca4u-motordrivercard"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard"
VERSION="00.12.02"
TAGVERSION=00.12.02
SOVERSION="00.12trusty2.02"
DEBVERSION="00-12-trusty2"
PROJECT_BUILDVERSION="trusty2"
PACKAGE_VERSION="00.12trusty2.02"
DISTRIBUTION="trusty"
PACKAGE_MESSAGE="Debian package for the mtca4u-motordrivercard library version 00.12.02"
ARCH="amd64"
