PACKAGE_BASENAME="doocs-llrfctrlhzdr-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlhzdr.git"
VERSION="02.04.08"
TAGVERSION=02.04.08
SOVERSION="02.04xenial2.08"
DEBVERSION="02-04-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="02.04xenial2.08"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlhzdr-server library version 02.04.08"
ARCH="amd64"
