Source: doocs-bam-server-classic
Priority: extra
Maintainer: Jens Georg <jens.georg@desy.de>
Build-Depends: pkg-config (= 0.29.1-0ubuntu4), libtirpc-dev (= 1.2.5-1), libbeam-arrival-time-monitor-dev (= 04.00focal8.01-0), libboost-dev (= 1.71.0.0ubuntu2), libboost-test-dev (= 1.71.0.0ubuntu2), libboost-thread-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 20.10.1-focal1), dev-doocs-serverlib (= 20.10.1-focal1), dev-doocs-doocsdzmqlib (= 20.10.1-focal1), libchimeratk-deviceaccess-dev (= 02.02focal2.02-0), doocs-watchdog-server (= 21.6.0-focal1), dev-doocs-libgul14 (= 20.10.1-focal1), libchimeratk-deviceaccess-doocsbackend-dev (= 01.00focal5.04-0), doocs-llrfctrlconfig-generator02-00 (= 02.00focal1.02-0)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git

Package: doocs-bam-server-classic01-19-focal1
Section: net
Architecture: amd64
Conflicts: doocs-bam-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-bam-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-bam-config01-19
Description: DOOCS server for Beam Arrival time Monitor for XFEL and FLASH

