PACKAGE_BASENAME="doocs-bam-server-classic"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.19.08"
TAGVERSION=01.19.08
SOVERSION="01.19focal1.08"
DEBVERSION="01-19-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.19focal1.08"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server-classic library version 01.19.08"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
