Source: libchimeratk-controlsystemadapter-opcuaadapter
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libchimeratk-controlsystemadapter-dev (= 02.05focal5.00-0), libopen62541-dev (= 1.3focal2.3-3-0)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ControlSystemAdapter-OPC-UA-Adapter

Package: libchimeratk-controlsystemadapter-opcuaadapter-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-controlsystemadapter-opcuaadapter03-01-focal7, libchimeratk-controlsystemadapter-dev (>= 02.05focal5), libchimeratk-controlsystemadapter-dev (<< 02.05focal6)
Description: Header and cmake files for the OPC UA Adapter for the ChimeraTK ControlSystemAdapter. The files you need to compile against libchimeratk-controlsystemadaper-opcuaadapter.

Package: libchimeratk-controlsystemadapter-opcuaadapter03-01-focal7
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-controlsystemadapter-opcuaadapter provides the OPC UA Adapter for the ChimeraTK ControlSystemAdapter. Linking against this library will make a OPC UA server out of any control application built against the ChimeraTK ControlSystemAdapter.

