PACKAGE_BASENAME="libchimeratk-controlsystemadapter-doocsadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-DoocsAdapter"
VERSION="00.03.04"
TAGVERSION=00.03.04
SOVERSION="00.03xenial3.04"
DEBVERSION="00-03-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="00.03xenial3.04"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-doocsadapter library version 00.03.04"
ARCH="amd64"
