PACKAGE_BASENAME="libdemac"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/lbsync/libDemac.git"
VERSION="00.03.03"
TAGVERSION=00.03.03
SOVERSION="00.03xenial2.03"
DEBVERSION="00-03-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="00.03xenial2.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the demac library version 00.03.03"
ARCH="amd64"
