PACKAGE_BASENAME="python3-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="03.05.02"
TAGVERSION=03.05.02
SOVERSION="03.05noble6.02"
DEBVERSION="03-05-noble6"
PROJECT_BUILDVERSION="noble6"
PACKAGE_VERSION="03.05noble6.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the python3-mtca4upy library version 03.05.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
