PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="07.04.02"
TAGVERSION=07.04.02
SOVERSION="07.04focal2.02"
DEBVERSION="07-04-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="07.04focal2.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 07.04.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
