PACKAGE_BASENAME="libtec"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/tec/tec-library.git"
VERSION="02.00.03"
TAGVERSION=02.00.03
SOVERSION="02.00focal2.03"
DEBVERSION="02-00-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="02.00focal2.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the tec library version 02.00.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
