PACKAGE_BASENAME="libchimeratk-applicationcore"
SOURCE_URI="https://github.com/ChimeraTK/ApplicationCore"
VERSION="01.04.00"
TAGVERSION=01.04.00
SOVERSION="01.04xenial2.00"
DEBVERSION="01-04-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="01.04xenial2.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-applicationcore library version 01.04.00"
ARCH="amd64"
