Source: libopen62541
Priority: optional
Maintainer: Klaus Zenker (HZDR) <k.zenker@hzdr.de>
Build-Depends: debhelper | debhelper-compat, doxygen (= 1.9.4-4), python3-dev (= 3.11.2-1+b1), git (= 1:2.39.5-0+deb12u1), ca-certificates (= 20230311), libmbedtls-dev (= 2.28.3-1), libmbedtls-dev (= 2.28.3-1) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/open62541-interface

Package: libopen625411-4-bookworm1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OPC-UA implementation open62541. See https://github.com/open62541/open62541

Package: libopen62541-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libopen625411-4-bookworm1, libmbedtls-dev (= 2.28.3-1)
Description: Header and config files for OPC-UA implementation open62541. See https://github.com/open62541/open62541

