Source: libllrflibrary
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/rf/llrflibrary.git

Package: libllrflibrary-dev
Section: libdevel
Architecture: amd64
Conflicts: dev-llrflibrary
Replaces: dev-llrflibrary
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libllrflibrary03-01-xenial1, 
Description: Header and cmake files for the MTCA4U Low Level Radio Frequency Library. The files you need to compile against the MTCA4U LLRFLibrary.

Package: libllrflibrary03-01-xenial1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Low Level Radio Frequency (LLRF) control library. Developed at DSESY for the  FLASH/XFEL project.

