Source: msk-kanban-board
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: libwt-dev (= 4.0bionic2.5), libcurl4-gnutls-dev (= 7.58.0-2ubuntu3.10)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/vendor/desy/msk/mskkanbanboard.git

Package: msk-kanban-board
Section: utils
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, libwt-resources
Description: Web application for displaying the DESY MSK software group's Kanban board

