Source: libdemac
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libconsatt-dev (= 00.19focal1.01-0), libchimeratk-deviceaccess-dev (= 02.03focal1.01-0), libboost-dev (= 1.71.0.0ubuntu2), libboost-test-dev (= 1.71.0.0ubuntu2), libtec-dev (= 01.04focal8.01-0), libmtca4u-motordrivercard-dev (= 01.10focal8.04-0)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/lbsync/libDemac.git

Package: libdemac-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libdemac00-22-focal4, libboost-dev (= 1.71.0.0ubuntu2), libconsatt-dev (>= 00.19focal1), libconsatt-dev (<< 00.19focal2), libchimeratk-deviceaccess-dev (>= 02.03focal1), libchimeratk-deviceaccess-dev (<< 02.03focal2), libtec-dev (>= 01.04focal8), libtec-dev (<< 01.04focal9), libmtca4u-motordrivercard-dev (>= 01.10focal8), libmtca4u-motordrivercard-dev (<< 01.10focal9)
Description: Header and cmake files for the Demac Library.

Package: libdemac00-22-focal4
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Demac (Device Modules, Actuators and Controllers) library.

