PACKAGE_BASENAME="libbeam-arrival-time-monitor"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/diagnostics/libBAM.git/"
VERSION="02.00.07"
TAGVERSION=02.00.07
SOVERSION="02.00xenial29.07"
DEBVERSION="02-00-xenial29"
PROJECT_BUILDVERSION="xenial29"
PACKAGE_VERSION="02.00xenial29.07"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the beam-arrival-time-monitor library version 02.00.07"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
