PACKAGE_BASENAME="doocs-refmopt-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/lbsync/refmopt.git"
VERSION="01.01.02"
TAGVERSION=01.01.02
SOVERSION="01.01xenial2.02"
DEBVERSION="01-01-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="01.01xenial2.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-refmopt-server library version 01.01.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
