PACKAGE_BASENAME="doocs-klm-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/klm/klm3-server.git"
VERSION="03.02.01"
TAGVERSION=03.02.01
SOVERSION="03.02noble3.01"
DEBVERSION="03-02-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="03.02noble3.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-klm-server library version 03.02.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
