PACKAGE_BASENAME="chimeratk-watchdog-server-opcua"
SOURCE_URI="https://github.com/ChimeraTK/Watchdog"
VERSION="00.04.06"
TAGVERSION=00.04.06
SOVERSION="00.04xenial3.06"
DEBVERSION="00-04-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="00.04xenial3.06"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-watchdog-server-opcua library version 00.04.06"
ARCH="amd64"
