PACKAGE_BASENAME="libdaction"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git"
VERSION="02.15.01"
TAGVERSION=02.15.01
SOVERSION="02.15xenial10.01"
DEBVERSION="02-15-xenial10"
PROJECT_BUILDVERSION="xenial10"
PACKAGE_VERSION="02.15xenial10.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the daction library version 02.15.01"
ARCH="amd64"
