PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-controller-server-configuration/llrfctrl-config.git"
VERSION="08.04.28"
TAGVERSION=08.04.28
SOVERSION="08.04focal6.28"
DEBVERSION="08-04"
PROJECT_BUILDVERSION="focal6"
PACKAGE_VERSION="08.04focal6.28"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 08.04.28"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
