PACKAGE_BASENAME="libmtca4u-virtuallab"
SOURCE_URI="https://github.com/ChimeraTK/VirtualLab"
VERSION="00.05.00"
TAGVERSION=00.05.00
SOVERSION="00.05xenial8.00"
DEBVERSION="00-05-xenial8"
PROJECT_BUILDVERSION="xenial8"
PACKAGE_VERSION="00.05xenial8.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the mtca4u-virtuallab library version 00.05.00"
ARCH="amd64"
