PACKAGE_BASENAME="libchimeratk-controlsystemadapter-doocsadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-DoocsAdapter"
VERSION="00.09.00"
TAGVERSION=00.09.00
SOVERSION="00.09xenial4.00"
DEBVERSION="00-09-xenial4"
PROJECT_BUILDVERSION="xenial4"
PACKAGE_VERSION="00.09xenial4.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-doocsadapter library version 00.09.00"
ARCH="amd64"
