PACKAGE_BASENAME="libchimeratk-deviceaccess-opc-ua-backend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-OPCUABackend"
VERSION="01.04.00"
TAGVERSION=01.04.00
SOVERSION="01.04noble3.00"
DEBVERSION="01-04-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="01.04noble3.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-opc-ua-backend library version 01.04.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
