Source: libtec-applicationmodule
Priority: extra
Maintainer: Jens Georg <jgeorg@desy.de>
Build-Depends: libtec-dev (= 02.00focal3.03-0), libchimeratk-deviceaccess-dev (= 03.05focal1.00-0), libchimeratk-applicationcore-dev (= 02.11focal3.01-0)
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/infrastructure-and-support/tec/tec-applicationmodule.git

Package: libtec-applicationmodule-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libtec-applicationmodule01-00-focal6, libtec-dev (>= 02.00focal3), libtec-dev (<< 02.00focal4), libchimeratk-deviceaccess-dev (>= 03.05focal1), libchimeratk-deviceaccess-dev (<< 03.05focal2), libchimeratk-applicationcore-dev (>= 02.11focal3), libchimeratk-applicationcore-dev (<< 02.11focal4)
Description: Header and cmake files for TEC controller ApplicationModule

Package: libtec-applicationmodule01-00-focal6
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TEC controller ApplicationModule. Developed at DESY for the  FLASH/XFEL project.

