PACKAGE_BASENAME="doocs-psm-ctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_psm.git"
VERSION="01.05.03"
TAGVERSION=01.05.03
SOVERSION="01.05focal1.03"
DEBVERSION="01-05-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.05focal1.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-psm-ctrl-server library version 01.05.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
