PACKAGE_BASENAME="config-bam-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/BAM/bam-server-configuration.git"
VERSION="02.05.04"
TAGVERSION=02.05.04
SOVERSION="02.05focal1.04"
DEBVERSION="02-05"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="02.05focal1.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the config-bam-server library version 02.05.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
