PACKAGE_BASENAME="doocs-bam-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.16.12"
TAGVERSION=01.16.12
SOVERSION="01.16xenial12.12"
DEBVERSION="01-16-xenial12"
PROJECT_BUILDVERSION="xenial12"
PACKAGE_VERSION="01.16xenial12.12"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server library version 01.16.12"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
