Source: libdoocs-tc4-eqfct
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libboost-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 21.3.1-focal1), dev-doocs-serverlib (= 21.3.1-focal1), libchimeratk-deviceaccess-dev (= 02.03focal1.01-0), libdaction-dev (= 02.16focal13.05-0), libdoocs-rf-util-dev (= 01.02focal4.01-0), dev-doocs-libgul14 (= 21.3.1-focal1), libboost-test-dev (= 1.71.0.0ubuntu2)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/common/tc4eqfct.git

Package: libdoocs-tc4-eqfct-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libdoocs-tc4-eqfct01-06-focal14, libboost-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 21.3.1-focal1), dev-doocs-serverlib (= 21.3.1-focal1), libchimeratk-deviceaccess-dev (>= 02.03focal1), libchimeratk-deviceaccess-dev (<< 02.03focal2), libdaction-dev (>= 02.16focal13), libdaction-dev (<< 02.16focal14), libdoocs-rf-util-dev (>= 01.02focal4), libdoocs-rf-util-dev (<< 01.02focal5)
Description: Header and cmake files for the TC4 EqFct library.

Package: libdoocs-tc4-eqfct01-06-focal14
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DOOCS EqFct for the 4 channel temperature controller FMC (TC4). A library to be included in other DOOCS servers.

