PACKAGE_BASENAME="libdaction"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git"
VERSION="02.16.02"
TAGVERSION=02.16.02
SOVERSION="02.16xenial26.02"
DEBVERSION="02-16-xenial26"
PROJECT_BUILDVERSION="xenial26"
PACKAGE_VERSION="02.16xenial26.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the daction library version 02.16.02"
ARCH="amd64"
