PACKAGE_BASENAME="doocs-dcm-ctrl-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_dcm-config.git"
VERSION="06.02.02"
TAGVERSION=06.02.02
SOVERSION="06.02focal1.02"
DEBVERSION="06-02"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="06.02focal1.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-dcm-ctrl-config library version 06.02.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
