PACKAGE_BASENAME="doocs-llrfctrlsrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlsrf.git"
VERSION="05.09.10"
TAGVERSION=v05.09.10
SOVERSION="05.09xenial12.10"
DEBVERSION="05-09-xenial12"
PROJECT_BUILDVERSION="xenial12"
PACKAGE_VERSION="05.09xenial12.10"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlsrf-server library version 05.09.10"
ARCH="amd64"
