PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="07.02.04"
TAGVERSION=07.02.04
SOVERSION="07.02xenial6.04"
DEBVERSION="07-02-xenial6"
PROJECT_BUILDVERSION="xenial6"
PACKAGE_VERSION="07.02xenial6.04"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 07.02.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
