PACKAGE_BASENAME="libdoocs-tc4-eqfct"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/tc4/tc4eqfct.git"
VERSION="01.07.01"
TAGVERSION=01.07.01
SOVERSION="01.07focal27.01"
DEBVERSION="01-07-focal27"
PROJECT_BUILDVERSION="focal27"
PACKAGE_VERSION="01.07focal27.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-tc4-eqfct library version 01.07.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
