PACKAGE_BASENAME="libbeam-arrival-time-monitor"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/diagnostics/libBAM.git/"
VERSION="01.08.00"
TAGVERSION=01.08.00
SOVERSION="01.08xenial9.00"
DEBVERSION="01-08-xenial9"
PROJECT_BUILDVERSION="xenial9"
PACKAGE_VERSION="01.08xenial9.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the beam-arrival-time-monitor library version 01.08.00"
ARCH="amd64"
