PACKAGE_BASENAME="libdemac"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/lbsync/libDemac.git"
VERSION="00.01.02"
TAGVERSION=00.01.02
SOVERSION="00.01xenial2.02"
DEBVERSION="00-01-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="00.01xenial2.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the demac library version 00.01.02"
ARCH="amd64"
