PACKAGE_BASENAME="doocs-llrfpiezo-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/piezo/piezo-server-configuration.git"
VERSION="04.11.04"
TAGVERSION=04.11.04
SOVERSION="04.11noble3.04"
DEBVERSION="04-11"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="04.11noble3.04"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-llrfpiezo-config library version 04.11.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
