PACKAGE_BASENAME="doocs-sdm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/SDM/sdm-server-configuration.git"
VERSION="01.09.19"
TAGVERSION=01.09.19
SOVERSION="01.09noble1.19"
DEBVERSION="01-09"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="01.09noble1.19"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-sdm-config library version 01.09.19"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
