PACKAGE_BASENAME="libwt"
SOURCE_URI="https://github.com/emweb/wt"
VERSION="4.12.0"
TAGVERSION=4.12.0
SOVERSION="4.12jammy1.0"
DEBVERSION="4-12-jammy1"
PROJECT_BUILDVERSION="jammy1"
PACKAGE_VERSION="4.12jammy1.0"
DISTRIBUTION="jammy"
PACKAGE_MESSAGE="Debian package for the wt library version 4.12.0"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
