PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrfctrl-server.git"
VERSION="08.08.00"
TAGVERSION=08.08.00
SOVERSION="08.08focal3.00"
DEBVERSION="08-08-focal3"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="08.08focal3.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 08.08.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
