PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="07.03.02"
TAGVERSION=07.03.02
SOVERSION="07.03xenial4.02"
DEBVERSION="07-03-xenial4"
PROJECT_BUILDVERSION="xenial4"
PACKAGE_VERSION="07.03xenial4.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 07.03.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
