PACKAGE_BASENAME="libmtca4u-motordrivercard"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard"
VERSION="01.15.01"
TAGVERSION=01.15.01
SOVERSION="01.15noble5.01"
DEBVERSION="01-15-noble5"
PROJECT_BUILDVERSION="noble5"
PACKAGE_VERSION="01.15noble5.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the mtca4u-motordrivercard library version 01.15.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
