PACKAGE_BASENAME="doocs-bcm-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/bcm/bcm-server.git"
VERSION="02.05.02"
TAGVERSION=02.05.02
SOVERSION="02.05noble2.02"
DEBVERSION="02-05-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="02.05noble2.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-bcm-server library version 02.05.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
