PACKAGE_BASENAME="msk-kanban-board"
SOURCE_URI="http://doocs-git.desy.de/cgit/vendor/desy/msk/mskkanbanboard.git"
VERSION="01.00.05"
TAGVERSION=01.00.05
SOVERSION="01.00bionic2.05"
DEBVERSION="01-00-bionic2"
PROJECT_BUILDVERSION="bionic2"
PACKAGE_VERSION="01.00bionic2.05"
DISTRIBUTION="bionic"
PACKAGE_MESSAGE="Debian package for the msk-kanban-board library version 01.00.05"
ARCH="amd64"
