PACKAGE_BASENAME="libchimeratk-deviceaccess-piezoserialbackend"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/DeviceAccess-PiezoSerialBackend.git"
VERSION="01.00.01"
TAGVERSION=01.00.01
SOVERSION="01.00focal9.01"
DEBVERSION="01-00-focal9"
PROJECT_BUILDVERSION="focal9"
PACKAGE_VERSION="01.00focal9.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-piezoserialbackend library version 01.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
