Source: libtec-applicationmodule
Priority: optional
Maintainer: Jens Georg <jgeorg@desy.de>
Build-Depends: debhelper | debhelper-compat, libtec-dev (= 02.01noble4.01-0), libchimeratk-deviceaccess-dev (= 03.20noble1.00-0), libchimeratk-applicationcore-dev (= 04.03noble1.01-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/infrastructure-and-support/tec/tec-applicationmodule.git

Package: libtec-applicationmodule-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libtec-applicationmodule02-01-noble5, libtec-dev (>= 02.01noble4), libtec-dev (<< 02.01noble5), libchimeratk-deviceaccess-dev (>= 03.20noble1), libchimeratk-deviceaccess-dev (<< 03.20noble2), libchimeratk-applicationcore-dev (>= 04.03noble1), libchimeratk-applicationcore-dev (<< 04.03noble2)
Description: Header and cmake files for TEC controller ApplicationModule

Package: libtec-applicationmodule02-01-noble5
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TEC controller ApplicationModule. Developed at DESY for the  FLASH/XFEL project.

