PACKAGE_BASENAME="epics-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="06.06.01"
TAGVERSION=06.06.01
SOVERSION="06.06xenial1.01"
DEBVERSION="06-06-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="06.06xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the epics-llrfctrl-server library version 06.06.01"
ARCH="amd64"
