PACKAGE_BASENAME="libchimeratk-controlsystemadapter-tangoadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-TangoAdapter"
VERSION="02.00.01"
TAGVERSION=02.00.01
SOVERSION="02.00noble7.01"
DEBVERSION="02-00-noble7"
PROJECT_BUILDVERSION="noble7"
PACKAGE_VERSION="02.00noble7.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-tangoadapter library version 02.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
