PACKAGE_BASENAME="libmtca4u-virtuallab"
SOURCE_URI="https://github.com/ChimeraTK/VirtualLab"
VERSION="00.09.04"
TAGVERSION=00.09.04
SOVERSION="00.09focal19.04"
DEBVERSION="00-09-focal19"
PROJECT_BUILDVERSION="focal19"
PACKAGE_VERSION="00.09focal19.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the mtca4u-virtuallab library version 00.09.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
