Source: qthardmon
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: debhelper (= 9.20120115ubuntu3), cmake (= 2.8.7-0ubuntu4), doxygen (= 1.7.6.1-2ubuntu1), libmtca4u-deviceaccess-dev (= 00.17precise1.00), libqt4-dev (= 4:4.8.1-0ubuntu4), libboost-system-dev (= 1.48.0.2), libboost-filesystem-dev (= 1.48.0.2), libqwt-dev (= 6.0.0-1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/QtHardMon

Package: qthardmon
Section: utils
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: MTCA4U QtHardMon provides a GUI to access MTCA.4 devices. MTCA4U is a software package which provides divers, a C++ API and tools for hardware monitoring on MicroTCA.4 crates. QtHardMon is a GUI which provides access to the registers on the board (display and modify). It also includes simple plotting functionality.

