Source: doocs-bcm-server
Priority: extra
Maintainer: Dietrich Rothe <dietrich.rothe@desy.de>
Build-Depends: pkg-config (= 0.29.1-0ubuntu4), dev-doocs-clientlib (= 21.7.1-focal1), dev-doocs-serverlib (= 21.7.1-focal1), doocs-watchdog-server (= 21.7.1-focal3), libchimeratk-deviceaccess-dev (= 02.05focal1.00-0), libchimeratk-applicationcore-dev (= 02.03focal3.00-0), libchimeratk-controlsystemadapter-doocsadapter-dev (= 01.02focal1.00-0), libchimeratk-controlsystemadapter-opcuaadapter-dev (= 02.01focal7.01-0), libchimeratk-deviceaccess-doocsbackend-dev (= 01.02focal3.02-0), libboost-filesystem-dev (= 1.71.0.0ubuntu2), libboost-test-dev (= 1.71.0.0ubuntu2), doocs-llrfctrlconfig-generator02-00 (= 02.00focal1.02-0)
Standards-Version: 3.8.3
Section: libs
Homepage: https://mcs-gitlab.desy.de/controls-and-operation/particle-beam-diagnostics/bunch-compression-measurement/bcm-server.git

Package: doocs-bcm-server01-00-focal1
Section: net
Architecture: amd64
Conflicts: doocs-bcm-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-bcm-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-bcm-config01-00, doocs-llrfctrlconfig-generator02-00, python3-mtca4upy, python3-numpy, doocstools
Description: DOOCS server for Bunch Compression Monitor at XFEL and FLASH, based on ChimeraTK

