PACKAGE_BASENAME="doocs-llrfctrlconfig-generator"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/tools/rf/llrfCtrl_config.git"
VERSION="00.15.19"
TAGVERSION=00.15.19
SOVERSION="00.15xenial1.19"
DEBVERSION="00-15-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="00.15xenial1.19"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlconfig-generator library version 00.15.19"
ARCH="amd64"
