Source: doocs-ldd-server
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: libboost-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 20.10.1-focal1), dev-doocs-serverlib (= 20.10.1-focal1), dev-doocs-doocsdzmqlib (= 20.10.1-focal1), doocs-watchdog-server (= 20.10.1-focal5), doocs-ldd-config01-08 (= 01.08focal1.00-0), doocs-llrfctrlconfig-generator02-00 (= 02.00focal1.02-0), libtirpc-dev (= 1.2.5-1), pkg-config (= 0.29.1-0ubuntu4)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/lbsync/ldd.git/

Package: doocs-ldd-server01-08-focal1
Section: net
Architecture: amd64
Conflicts: doocs-ldd-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-ldd-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-watchdog-server, doocs-ldd-config01-08
Description: DOOCS server for Laser Diode Driver for XFEL and FLASH

