Source: chimeratk-chai
Priority: optional
Maintainer: Christian Willner <christian.willner@desy.de>
Build-Depends: debhelper | debhelper-compat, python3 (>= 3.12.3-0ubuntu2.1) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/Chai

Package: chimeratk-chai
Section: utils
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-mtca4upy(>04.00), python3-textual-latest, python3-rich, python3-typing-extensions, python3-platformdirs
Description: ChimeraTK Chai provides a textual user interface to access ChimeraTK devices. It can be used as a text-only replacement for QtHardMon, e.g. to avoid the need for X-forwarding while working on remote systems.

