PACKAGE_BASENAME="doocs-psm-ctrl-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/psm/psm-server.git"
VERSION="03.01.03"
TAGVERSION=03.01.03
SOVERSION="03.01noble2.03"
DEBVERSION="03-01-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="03.01noble2.03"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-psm-ctrl-server library version 03.01.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
