PACKAGE_BASENAME="doocs-tel-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/anomaly-detection/anomaly-detection-config.git"
VERSION="01.01.04"
TAGVERSION=01.01.04
SOVERSION="01.01noble2.04"
DEBVERSION="01-01"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="01.01noble2.04"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-tel-config library version 01.01.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
