PACKAGE_BASENAME="doocs-tec-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/tec/tec-server.git"
VERSION="02.00.02"
TAGVERSION=02.00.02
SOVERSION="02.00focal1.02"
DEBVERSION="02-00-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="02.00focal1.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-tec-server library version 02.00.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
