PACKAGE_BASENAME="doocs-gpsdo-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/mo_gpsdo.git"
VERSION="1.0.2"
TAGVERSION=1.0.2
SOVERSION="1.0xenial1.2"
DEBVERSION="1-0-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="1.0xenial1.2"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-gpsdo-server library version 1.0.2"
ARCH="amd64"
