PACKAGE_BASENAME="libexprtk"
SOURCE_URI="https://github.com/ChimeraTK/exprtk-interface"
VERSION="01.02.01"
TAGVERSION=01.02.01
SOVERSION="01.02xenial1.01"
DEBVERSION="01-02-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.02xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the exprtk library version 01.02.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
