PACKAGE_BASENAME="libdaction"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git"
VERSION="02.16.05"
TAGVERSION=02.16.05
SOVERSION="02.16focal13.05"
DEBVERSION="02-16-focal13"
PROJECT_BUILDVERSION="focal13"
PACKAGE_VERSION="02.16focal13.05"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the daction library version 02.16.05"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
