PACKAGE_BASENAME="config-bam-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/BAM/bam-server-configuration.git"
VERSION="02.03.08"
TAGVERSION=02.03.08
SOVERSION="02.03focal2.08"
DEBVERSION="02-03"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="02.03focal2.08"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the config-bam-server library version 02.03.08"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
