PACKAGE_BASENAME="doocs-bam-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.18.04"
TAGVERSION=01.18.04
SOVERSION="01.18focal1.04"
DEBVERSION="01-18-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.18focal1.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server library version 01.18.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
