PACKAGE_BASENAME="doocs-dcm-ctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_dcm.git"
VERSION="03.01.00"
TAGVERSION=03.01.00
SOVERSION="03.01xenial2.00"
DEBVERSION="03-01-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="03.01xenial2.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-dcm-ctrl-server library version 03.01.00"
ARCH="amd64"
