PACKAGE_BASENAME="doocs-qlset-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/ql-setting/qlset-server.git"
VERSION="01.02.01"
TAGVERSION=01.02.01
SOVERSION="01.02focal2.01"
DEBVERSION="01-02-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="01.02focal2.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-qlset-server library version 01.02.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
