PACKAGE_BASENAME="libchimeratk-deviceaccess-epics-backend"
SOURCE_URI="/home/mhier/software/sources/ChimeraTK-DeviceAccess-EPICS-Backend"
VERSION="01.00.00"
TAGVERSION=01.00.00
SOVERSION="01.00focal2.00"
DEBVERSION="01-00-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="01.00focal2.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-epics-backend library version 01.00.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
