PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="00.07.00"
TAGVERSION=00.07.00
SOVERSION="00.07xenial4.00"
DEBVERSION="00-07-xenial4"
PROJECT_BUILDVERSION="xenial4"
PACKAGE_VERSION="00.07xenial4.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 00.07.00"
ARCH="amd64"
