PACKAGE_BASENAME="libchimeratk-motordrivercard-applicationmodule"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard-ApplicationModule"
VERSION="00.04.00"
TAGVERSION=00.04.00
SOVERSION="00.04focal12.00"
DEBVERSION="00-04-focal12"
PROJECT_BUILDVERSION="focal12"
PACKAGE_VERSION="00.04focal12.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-motordrivercard-applicationmodule library version 00.04.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
