PACKAGE_BASENAME="libchimeratk-applicationcore"
SOURCE_URI="https://github.com/ChimeraTK/ApplicationCore"
VERSION="01.11.00"
TAGVERSION=01.11.00
SOVERSION="01.11xenial1.00"
DEBVERSION="01-11-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.11xenial1.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-applicationcore library version 01.11.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
