PACKAGE_BASENAME="libchimeratk-motordrivercard-applicationmodule"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard-ApplicationModule"
VERSION="00.08.05"
TAGVERSION=00.08.05
SOVERSION="00.08bookworm19.05"
DEBVERSION="00-08-bookworm19"
PROJECT_BUILDVERSION="bookworm19"
PACKAGE_VERSION="00.08bookworm19.05"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-motordrivercard-applicationmodule library version 00.08.05"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
