PACKAGE_BASENAME="doocs-sdm-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/sdm.git/"
VERSION="01.04.00"
TAGVERSION=01.04.00
SOVERSION="01.04xenial1.00"
DEBVERSION="01-04-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.04xenial1.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-sdm-server library version 01.04.00"
ARCH="amd64"
