PACKAGE_BASENAME="doocs-dcm-ctrl-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_dcm-config.git"
VERSION="06.03.07"
TAGVERSION=06.03.07
SOVERSION="06.03focal3.07"
DEBVERSION="06-03"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="06.03focal3.07"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-dcm-ctrl-config library version 06.03.07"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
