PACKAGE_BASENAME="libchimeratk-controlsystemadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter"
VERSION="02.12.00"
TAGVERSION=02.12.00
SOVERSION="02.12noble1.00"
DEBVERSION="02-12-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="02.12noble1.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter library version 02.12.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
