PACKAGE_BASENAME="libchimeratk-virtuallab"
SOURCE_URI="https://github.com/ChimeraTK/VirtualLab"
VERSION="01.01.04"
TAGVERSION=01.01.04
SOVERSION="01.01bookworm11.04"
DEBVERSION="01-01-bookworm11"
PROJECT_BUILDVERSION="bookworm11"
PACKAGE_VERSION="01.01bookworm11.04"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-virtuallab library version 01.01.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
