Source: libdoocs-tc4-eqfct
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libboost-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 23.6.0-focal1), dev-doocs-serverlib (= 23.6.0-focal1), libchimeratk-deviceaccess-dev (= 03.10focal1.00-0), libdaction-dev (= 03.00focal20.00-0), libdoocs-rf-util-dev (= 01.02focal17.03-0), dev-doocs-libgul14 (= 23.6.0-focal1), libboost-test-dev (= 1.71.0.0ubuntu2), libzmq3-dev (= 4.3.2-2ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/infrastructure-and-support/tc4/tc4eqfct.git

Package: libdoocs-tc4-eqfct-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libdoocs-tc4-eqfct01-07-focal20, libboost-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 23.6.0-focal1), dev-doocs-serverlib (= 23.6.0-focal1), libchimeratk-deviceaccess-dev (>= 03.10focal1), libchimeratk-deviceaccess-dev (<< 03.10focal2), libdaction-dev (>= 03.00focal20), libdaction-dev (<< 03.00focal21), libdoocs-rf-util-dev (>= 01.02focal17), libdoocs-rf-util-dev (<< 01.02focal18)
Description: Header and cmake files for the TC4 EqFct library.

Package: libdoocs-tc4-eqfct01-07-focal20
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DOOCS EqFct for the 4 channel temperature controller FMC (TC4). A library to be included in other DOOCS servers.

