PACKAGE_BASENAME="libchimeratk-controlsystemadapter-doocsadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-DoocsAdapter"
VERSION="01.11.04"
TAGVERSION=01.11.04
SOVERSION="01.11focal15.04"
DEBVERSION="01-11-focal15"
PROJECT_BUILDVERSION="focal15"
PACKAGE_VERSION="01.11focal15.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-doocsadapter library version 01.11.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
