PACKAGE_BASENAME="doocs-dcm-ctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_dcm.git"
VERSION="05.01.01"
TAGVERSION=05.01.01
SOVERSION="05.01xenial2.01"
DEBVERSION="05-01-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="05.01xenial2.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-dcm-ctrl-server library version 05.01.01"
ARCH="amd64"
