PACKAGE_BASENAME="doocs-bam-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.16.02"
TAGVERSION=01.16.02
SOVERSION="01.16xenial4.02"
DEBVERSION="01-16-xenial4"
PROJECT_BUILDVERSION="xenial4"
PACKAGE_VERSION="01.16xenial4.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server library version 01.16.02"
ARCH="amd64"
