Source: libwt
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: cmake (= 3.16.3-1ubuntu1), libboost-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), libboost-thread-dev (= 1.71.0.0ubuntu2), libboost-program-options-dev (= 1.71.0.0ubuntu2), zlib1g-dev (= 1:1.2.11.dfsg-2ubuntu1.3), libmysqlclient-dev (= 8.0.30-0ubuntu0.20.04.2), libssl-dev (= 1.1.1f-1ubuntu2.16), libsqlite3-dev (= 3.31.1-4ubuntu0.3), libhpdf-dev (= 2.3.0+dfsg-1build1), libpango1.0-dev (= 1.44.7-2ubuntu4), libgraphicsmagick++1-dev (= 1.4+really1.3.35-1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/emweb/wt

Package: libwt-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libwt4-8-focal1, libboost-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), libboost-thread-dev (= 1.71.0.0ubuntu2), libboost-program-options-dev (= 1.71.0.0ubuntu2)
Description: Header and cmake files for the webtoolkit library libwt.

Package: libwt4-8-focal1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The webtoolkit library libwt.

Package: libwt-resources
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Resources for the webtoolkit library libwt. Might be needed by applications using libwt.

