Source: doocs-dcm-ctrl-server
Priority: optional
Maintainer: Dietrich Rothe <dietrich.rothe@desy.de>
Build-Depends: debhelper | debhelper-compat, pkg-config (>= 1.8.1-2build1), dev-doocs-clientlib (= 26.2.0-noble1), dev-doocs-serverlib (= 26.2.0-noble1), libchimeratk-deviceaccess-dev (= 03.26noble1.00-0), doxygen (>= 1.9.8+ds-2build5), graphviz (>= 2.42.2-9ubuntu0.1), libchimeratk-deviceaccess-doocsbackend-dev (= 01.12noble2.00-0), libmath-utils-dev (= 03.02noble1.01-0), libboost-filesystem-dev (>= 1.83.0.1ubuntu2), libboost-log-dev (>= 1.83.0.1ubuntu2), libboost-test-dev (>= 1.83.0.1ubuntu2), doocs-watchdog-server (= 26.2.0-noble2), libchimeratk-applicationcore-dev (= 04.07noble2.01-0), libchimeratk-controlsystemadapter-doocsadapter-dev (= 01.15noble3.01-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/low-level-radio-frequency/dcm-server/dcm-server.git

Package: doocs-dcm-ctrl-server08-02-noble2
Section: net
Architecture: amd64
Conflicts: doocs-dcm-ctrl-server, doocs-dcm-ctrl-xfel-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-dcm-ctrl-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-dcm-ctrl-config08-02
Description: DESY FLASH/XFEL controls package. DOOCS DCM control server.

