PACKAGE_BASENAME="doocs-dcm-ctrl-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/dcm-server/dcm-server.git"
VERSION="08.02.00"
TAGVERSION=08.02.00
SOVERSION="08.02noble2.00"
DEBVERSION="08-02-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="08.02noble2.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-dcm-ctrl-server library version 08.02.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
