PACKAGE_BASENAME="libdaction"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git"
VERSION="02.12.01"
TAGVERSION=02.12.01
SOVERSION="02.12xenial2.01"
DEBVERSION="02-12-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="02.12xenial2.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the daction library version 02.12.01"
ARCH="amd64"
