PACKAGE_BASENAME="doocs-llrfctrlconfig-generator"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/tools/rf/llrfCtrl_config.git"
VERSION="01.07.43"
TAGVERSION=01.07.43
SOVERSION="01.07xenial2.43"
DEBVERSION="01-07"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="01.07xenial2.43"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlconfig-generator library version 01.07.43"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
