Source: libconsatt-apps
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: doxygen (= 1.8.11-1ubuntu0.1), libconsatt-dev (= 00.12xenial1.00), libdemac-dev (= 00.13xenial3.00)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/lbsync/csaApplications.git

Package: libconsatt-apps-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libconsatt-apps00-11-xenial1, libdemac-dev (>= 00.13xenial3), libdemac-dev (<< 00.13xenial4), libconsatt-dev (>= 00.12xenial1), libconsatt-dev (<< 00.12xenial2)
Description: Header and cmake files for the ConsattApp Library.

Package: libconsatt-apps00-11-xenial1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ConsattApp library for application based on consatt and demac.

