Source: radcon
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: udev (= 229-4ubuntu21.21)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/dosimetry/radcon.git

Package: radcon-udev-rules
Section: utils
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Udev rules for radcon devices

