PACKAGE_BASENAME="doocs-mo-frequency-conversion-module-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/master-oscillator/flash/mo-fcm-generic-server-config.git"
VERSION="01.02.01"
TAGVERSION=01.02.01
SOVERSION="01.02noble1.01"
DEBVERSION="01-02-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="01.02noble1.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-mo-frequency-conversion-module-server library version 01.02.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
