Source: doocs-llrfpiezo-server
Priority: optional
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: debhelper | debhelper-compat, libchimeratk-deviceaccess-doocsbackend-dev (= 01.11noble7.01-0), libchimeratk-controlsystemadapter-doocsadapter-dev (= 01.14noble7.00-0), libchimeratk-applicationcore-dev (= 04.05noble6.01-0), doocs-llrfpiezo-config04-12 (= 04.12noble1.00-0), config-generator-scripts03-03 (= 03.03noble2.01-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/low-level-radio-frequency/piezo/llrf-piezo-server.git

Package: doocs-llrfpiezo-server04-12-noble3
Section: net
Architecture: amd64
Conflicts: doocs-llrfpiezo-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-llrfpiezo-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-llrfpiezo-config04-12
Description: DESY FLASH/XFEL controls package. DOOCS low-level RF piezo control server.

