PACKAGE_BASENAME="doocs-bcm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/bcm/bcm-config.git"
VERSION="02.03.04"
TAGVERSION=02.03.04
SOVERSION="02.03focal2.04"
DEBVERSION="02-03"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="02.03focal2.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-bcm-config library version 02.03.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
