Source: libdoocsllrfwrapper
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1), doxygen (= 1.8.11-1), dev-doocs-clientlib (= 18.11.2-xenial1), dev-doocs-serverlib (= 18.11.2-xenial1), libmtca4u-deviceaccess-dev (= 00.32xenial1.00), libboost-system-dev (= 1.58.0.1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/rf/doocsllrfwrapper.git

Package: libdoocsllrfwrapper-dev
Section: libdevel
Architecture: amd64
Conflicts: dev-doocswrappers
Replaces: dev-doocswrappers
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libdoocsllrfwrapper00-12-xenial3, dev-doocs-clientlib (= 18.11.2-xenial1), dev-doocs-serverlib (= 18.11.2-xenial1), libmtca4u-deviceaccess-dev (>= 00.32xenial1), libmtca4u-deviceaccess-dev (<< 00.32xenial2), libboost-system-dev (= 1.58.0.1ubuntu1)
Description: Header files for the DOOCS Wrappers Library. The files you need to compile against the DOOCS Wrappers Library.

Package: libdoocsllrfwrapper00-12-xenial3
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DOOCS Wrappers Library. Developed at DSESY for the FLASH/XFEL project.

