Source: opcua-generic-chimeratk-server02
Priority: optional
Maintainer: Nadeem Shehzad <nadeem.shehzad@desy.de>
Build-Depends: debhelper | debhelper-compat, libchimeratk-applicationcore-dev (= 04.09bookworm1.00-0), libchimeratk-controlsystemadapter-opcuaadapter-dev (= 05.04bookworm1.00-0), libchimeratk-deviceaccess-opc-ua-backend-dev (= 01.07bookworm8.01-0), libchimeratk-deviceaccess (= 03.30bookworm1.00-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/GenericDeviceServer.git

Package: opcua-generic-chimeratk-server02
Section: net
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, libchimeratk-deviceaccess (>= 03.30bookworm1), libchimeratk-deviceaccess (<< 03.30bookworm2)
Description: ChimeraTK-based OPC UA device server, to expose registers of any firmware directly to the control system.

