PACKAGE_BASENAME="doocs-bam-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.05.05"
TAGVERSION=01.05.05
SOVERSION="01.05xenial2.05"
DEBVERSION="01-05-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="01.05xenial2.05"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server library version 01.05.05"
ARCH="amd64"
