PACKAGE_BASENAME="chimeratk-applicationcore-microdaq-tools"
SOURCE_URI="https://github.com/ChimeraTK/ApplicationCore-MicroDAQ-Tools"
VERSION="01.06.04"
TAGVERSION=01.06.04
SOVERSION="01.06noble1.04"
DEBVERSION="01-06-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="01.06noble1.04"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-applicationcore-microdaq-tools library version 01.06.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
