PACKAGE_BASENAME="qthardmon"
SOURCE_URI="https://github.com/ChimeraTK/QtHardMon"
VERSION="00.17.07"
TAGVERSION=00.17.07
SOVERSION="00.17precise2.07"
DEBVERSION="00-17-precise2"
PROJECT_BUILDVERSION="precise2"
PACKAGE_VERSION="00.17precise2.07"
DISTRIBUTION="precise"
PACKAGE_MESSAGE="Debian package for the qthardmon library version 00.17.07"
ARCH="amd64"
