PACKAGE_BASENAME="libbeam-arrival-time-monitor"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/diagnostics/libBAM.git/"
VERSION="02.00.02"
TAGVERSION=02.00.02
SOVERSION="02.00xenial15.02"
DEBVERSION="02-00-xenial15"
PROJECT_BUILDVERSION="xenial15"
PACKAGE_VERSION="02.00xenial15.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the beam-arrival-time-monitor library version 02.00.02"
ARCH="amd64"
