Source: doocs-llrfctrl-server
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: libllrflibrary-dev (= 05.01focal1.01-0), libchimeratk-applicationcore-dev (= 02.00focal5.03-0), libchimeratk-controlsystemadapter-doocsadapter-dev (= 01.00focal5.03-0), libchimeratk-deviceaccess-doocsbackend-dev (= 01.00focal5.04-0), libmtca4u-virtuallab-dev (= 00.08focal6.02-0), libhdf5-dev (= 1.10.4+repack-11ubuntu1), libmath-utils-dev (= 02.00focal1.01-0), doocs-llrfctrl-config07-04 (= 07.04focal1.00-0), doocs-llrfctrlconfig-generator02-00 (= 02.00focal1.02-0), dev-doocs-libgul14 (= 20.10.1-focal1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git

Package: doocs-llrfctrl-server07-04-focal1
Section: net
Architecture: amd64
Conflicts: doocs-llrfctrl-server, doocs-llrfctrlsrf-server, doocs-llrfctrlnrf-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-llrfctrl-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, pcieuni-dkms, libchimeratk-deviceaccess-doocsbackend01-00-focal5, doocs-llrfctrl-config07-04, python3-mtca4upy
Description: Low-level RF control server usable for multiple accelerators and facilities.

