PACKAGE_BASENAME="libcavitysectionlocation"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/cavity_section_location.git"
VERSION="00.01.00"
TAGVERSION=00.01.00
SOVERSION="00.01xenial7.00"
DEBVERSION="00-01-xenial7"
PROJECT_BUILDVERSION="xenial7"
PACKAGE_VERSION="00.01xenial7.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the cavitysectionlocation library version 00.01.00"
ARCH="amd64"
