PACKAGE_BASENAME="doocs-llrfctrlnrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlnrf.git"
VERSION="03.07.01"
TAGVERSION=v03.07.01
SOVERSION="03.07xenial3.01"
DEBVERSION="03-07-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="03.07xenial3.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlnrf-server library version 03.07.01"
ARCH="amd64"
