PACKAGE_BASENAME="doocs-bcm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/bcm/bcm-config.git"
VERSION="02.05.03"
TAGVERSION=02.05.03
SOVERSION="02.05noble4.03"
DEBVERSION="02-05"
PROJECT_BUILDVERSION="noble4"
PACKAGE_VERSION="02.05noble4.03"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-bcm-config library version 02.05.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
