PACKAGE_BASENAME="python-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="01.03.01"
TAGVERSION=01.03.01
SOVERSION="01.03xenial6.01"
DEBVERSION="01-03-xenial6"
PROJECT_BUILDVERSION="xenial6"
PACKAGE_VERSION="01.03xenial6.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the python-mtca4upy library version 01.03.01"
ARCH="amd64"
