Source: libcavitysectionlocation
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), dev-doocs-clientlib (= 21.4.0-focal1), dev-doocs-serverlib (= 21.4.0-focal1), dev-doocs-doocsdapilib (= 21.4.0-focal2), dev-doocs-libgul14 (= 21.4.0-focal1), pkg-config (= 0.29.1-0ubuntu4)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/rf/cavity_section_location.git

Package: libcavitysectionlocation-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libcavitysectionlocation00-01-focal7, dev-doocs-clientlib (= 21.4.0-focal1), dev-doocs-serverlib (= 21.4.0-focal1), dev-doocs-doocsdapilib (= 21.4.0-focal2)
Description: Header and cmake files for the CavitySectionLocation Library.

Package: libcavitysectionlocation00-01-focal7
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cavity section location library.

