PACKAGE_BASENAME="doocs-bam-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="02.02.07"
TAGVERSION=02.02.07
SOVERSION="02.02focal3.07"
DEBVERSION="02-02-focal3"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="02.02focal3.07"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server library version 02.02.07"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
