PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="07.01.00"
TAGVERSION=07.01.00
SOVERSION="07.01xenial1.00"
DEBVERSION="07-01-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="07.01xenial1.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 07.01.00"
ARCH="amd64"
