PACKAGE_BASENAME="libchimeratk-deviceaccess-piezoserialbackend"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/piezo/piezo-serial-backend.git"
VERSION="01.00.03"
TAGVERSION=01.00.03
SOVERSION="01.00focal22.03"
DEBVERSION="01-00-focal22"
PROJECT_BUILDVERSION="focal22"
PACKAGE_VERSION="01.00focal22.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-piezoserialbackend library version 01.00.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
