Source: doocs-bam-server
Priority: extra
Maintainer: Michele Viti <michele.viti@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1), libbeam-arrival-time-monitor-dev (= 01.07xenial1.00), libboost-dev (= 1.58.0.1ubuntu1), libboost-test-dev (= 1.58.0.1ubuntu1), libboost-thread-dev (= 1.58.0.1ubuntu1), libboost-system-dev (= 1.58.0.1ubuntu1), libboost-filesystem-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 18.10.11-xenial1), dev-doocs-serverlib (= 18.10.11-xenial1), dev-doocs-doocsdzmqlib (= 18.10.11-xenial1), libmtca4u-deviceaccess-dev (= 00.20xenial1.00), doocs-watchdog-server (= 18.10.11-xenial1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git

Package: doocs-bam-server01-09-xenial2
Section: net
Architecture: amd64
Conflicts: doocs-bam-server
Replaces: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-bam-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server
Description: DOOCS server for Beam Arrival time Monitor for XFEL and FLASH

