PACKAGE_BASENAME="chimeratk-server-mockup-opcua"
SOURCE_URI="/home/zenker/sw/dummy-server/"
VERSION="00.01.02"
TAGVERSION=00.01.02
SOVERSION="00.01xenial1.02"
DEBVERSION="00-01-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="00.01xenial1.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-server-mockup-opcua library version 00.01.02"
ARCH="amd64"
