PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrfctrl-config.git"
VERSION="07.08.17"
TAGVERSION=07.08.17
SOVERSION="07.08focal2.17"
DEBVERSION="07-08"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="07.08focal2.17"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 07.08.17"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
