PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl-config.git"
VERSION="07.02.20"
TAGVERSION=07.02.20
SOVERSION="07.02xenial2.20"
DEBVERSION="07-02"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="07.02xenial2.20"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 07.02.20"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
