PACKAGE_BASENAME="libtec-applicationmodule"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/tec/tec-applicationmodule.git"
VERSION="02.01.05"
TAGVERSION=02.01.05
SOVERSION="02.01focal7.05"
DEBVERSION="02-01-focal7"
PROJECT_BUILDVERSION="focal7"
PACKAGE_VERSION="02.01focal7.05"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the tec-applicationmodule library version 02.01.05"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
