PACKAGE_BASENAME="doocs-logm-ctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_logm.git"
VERSION="00.04.01"
TAGVERSION=00.04.01
SOVERSION="00.04xenial1.01"
DEBVERSION="00-04-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="00.04xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-logm-ctrl-server library version 00.04.01"
ARCH="amd64"
