PACKAGE_BASENAME="doocs-llrfctrlsrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlsrf.git"
VERSION="3.6.2"
TAGVERSION=v3.6.2
SOVERSION="3.6precise1.2"
DEBVERSION="3-6-precise1"
PROJECT_BUILDVERSION="precise1"
PACKAGE_VERSION="3.6precise1.2"
DISTRIBUTION="precise"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlsrf-server library version 3.6.2"
ARCH="amd64"
