Source: libconsatt
Priority: optional
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: debhelper | debhelper-compat, doxygen (= 1.8.17-0ubuntu2), libboost-dev (= 1.71.0.0ubuntu2), libboost-test-dev (= 1.71.0.0ubuntu2) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/laser-based-synchronisation/consatt-based-libraries/consatt.git

Package: libconsatt-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libconsatt00-28-focal1, libboost-dev (= 1.71.0.0ubuntu2)
Description: Header and cmake files for the Consatt Library.

Package: libconsatt00-28-focal1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Consatt (control system attacher) library.

