PACKAGE_BASENAME="libdaction"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git"
VERSION="02.05.01"
TAGVERSION=02.05.01
SOVERSION="02.05xenial6.01"
DEBVERSION="02-05-xenial6"
PROJECT_BUILDVERSION="xenial6"
PACKAGE_VERSION="02.05xenial6.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the daction library version 02.05.01"
ARCH="amd64"
