PACKAGE_BASENAME="libdoocs-tc4-eqfct"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/common/tc4eqfct.git"
VERSION="01.05.01"
TAGVERSION=01.05.01
SOVERSION="01.05xenial10.01"
DEBVERSION="01-05-xenial10"
PROJECT_BUILDVERSION="xenial10"
PACKAGE_VERSION="01.05xenial10.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-tc4-eqfct library version 01.05.01"
ARCH="amd64"
