PACKAGE_BASENAME="libllrflibrary"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-library.git"
VERSION="05.02.01"
TAGVERSION=05.02.01
SOVERSION="05.02focal1.01"
DEBVERSION="05-02-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="05.02focal1.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the llrflibrary library version 05.02.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
