PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="01.00.04"
TAGVERSION=01.00.04
SOVERSION="01.00focal5.04"
DEBVERSION="01-00-focal5"
PROJECT_BUILDVERSION="focal5"
PACKAGE_VERSION="01.00focal5.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 01.00.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
