PACKAGE_BASENAME="doocs-llrfctrlsrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlsrf.git"
VERSION="05.00.01"
TAGVERSION=v05.00.01
SOVERSION="05.00xenial1.01"
DEBVERSION="05-00-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="05.00xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlsrf-server library version 05.00.01"
ARCH="amd64"
