PACKAGE_BASENAME="doocs-cavqltest-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/amtf/ql-characterisation/cavity-ql-server.git"
VERSION="02.00.01"
TAGVERSION=02.00.01
SOVERSION="02.00noble1.01"
DEBVERSION="02-00-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="02.00noble1.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-cavqltest-server library version 02.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
