Source: doocs-logm-ctrl-server
Priority: extra
Maintainer: Nadeem Shehzad <nadeem.shehzad@desy.de>
Build-Depends: pkg-config (= 0.29.1-0ubuntu4), libtirpc-dev (= 1.2.5-1), dev-doocs-clientlib (= 20.8.0-focal1), dev-doocs-serverlib (= 20.8.0-focal1), libdaction-dev (= 02.16focal1.03-0), doocs-watchdog-server (= 20.8.0-focal4), libchimeratk-deviceaccess-dev (= 01.11focal1.00-0), libdoocs-rf-util-dev (= 01.02focal1.01-0), doocs-logm-ctrl-config00-05 (= 00.05focal1.03-0), doocs-llrfctrlconfig-generator02-00 (= 02.00focal1.02-0)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_logm.git

Package: doocs-logm-ctrl-server00-05-focal1
Section: net
Architecture: amd64
Conflicts: doocs-logm-ctrl-server
Replaces: doocs-logm-ctrl-server
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-logm-ctrl-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-logm-ctrl-config00-05
Description: DESY FLASH/XFEL controls package. DOOCS LOGM control server.

