PACKAGE_BASENAME="doocs-bcm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/bcm/bcm-config.git"
VERSION="02.06.01"
TAGVERSION=02.06.01
SOVERSION="02.06noble1.01"
DEBVERSION="02-06"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="02.06noble1.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-bcm-config library version 02.06.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
