Source: libchimeratk-controlsystemadapter-doocsadapter
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: pkg-config (= 0.29.1-0ubuntu4), libtirpc-dev (= 1.2.5-1), doxygen (= 1.8.17-0ubuntu2), libchimeratk-controlsystemadapter-dev (= 02.03focal4.00-0), dev-doocs-clientlib (= 21.12.1-focal1), dev-doocs-serverlib (= 21.12.1-focal1), libdoocs-server-test-helper-dev (= 01.05focal5.03-0), dev-doocs-libgul14 (= 21.12.1-focal1), libzmq3-dev (= 4.3.2-2ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ControlSystemAdapter-DoocsAdapter

Package: libchimeratk-controlsystemadapter-doocsadapter-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-controlsystemadapter-doocsadapter01-03-focal5, libchimeratk-controlsystemadapter-dev (>= 02.03focal4), libchimeratk-controlsystemadapter-dev (<< 02.03focal5), dev-doocs-clientlib (= 21.12.1-focal1), dev-doocs-serverlib (= 21.12.1-focal1)
Description: Header and cmake files for the DOOCS Adapter for the ChimeraTK ControlSystemAdapter. The files you need to compile against libchimeratk-controlsystemadaper-doocsadapter.

Package: libchimeratk-controlsystemadapter-doocsadapter01-03-focal5
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-controlsystemadapter-doocsadapter provides the DOOCS Adapter for the ChimeraTK ControlSystemAdapter. Linking against this library will make a DOOCS server out of any control application built against the ChimeraTK ControlSystemAdapter.

