Source: libdoocs-rf-util
Priority: extra
Maintainer: Nadeem Shehzad <nadeem.shehzad@desy.de>
Build-Depends: doxygen (= 1.8.11-1ubuntu0.1), dev-doocs-clientlib (= 20.6.1-xenial1), dev-doocs-serverlib (= 20.6.1-xenial1), dev-doocs-libgul14 (= 20.6.10-xenial1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/rf/util.git

Package: libdoocs-rf-util-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libdoocs-rf-util01-02-xenial22, dev-doocs-clientlib (= 20.6.1-xenial1), dev-doocs-serverlib (= 20.6.1-xenial1)
Description: Header and cmake files for the util Library.

Package: libdoocs-rf-util01-02-xenial22
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Helper library to get macropulse.

