Source: libconsatt-apps
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libconsatt-dev (= 00.21focal1.00-0), libdemac-dev (= 00.26focal4.00-0)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/lbsync/csaApplications.git

Package: libconsatt-apps-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libconsatt-apps00-23-focal7, libdemac-dev (>= 00.26focal4), libdemac-dev (<< 00.26focal5), libconsatt-dev (>= 00.21focal1), libconsatt-dev (<< 00.21focal2)
Description: Header and cmake files for the ConsattApp Library.

Package: libconsatt-apps00-23-focal7
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ConsattApp library for application based on consatt and demac.

