PACKAGE_BASENAME="epics-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="06.02.08"
TAGVERSION=06.02.08
SOVERSION="06.02xenial1.08"
DEBVERSION="06-02-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="06.02xenial1.08"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the epics-llrfctrl-server library version 06.02.08"
ARCH="amd64"
