PACKAGE_BASENAME="libchimeratk-deviceaccess-piezoserialbackend"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/piezo/piezo-serial-backend.git"
VERSION="01.01.00"
TAGVERSION=01.01.00
SOVERSION="01.01bookworm10.00"
DEBVERSION="01-01-bookworm10"
PROJECT_BUILDVERSION="bookworm10"
PACKAGE_VERSION="01.01bookworm10.00"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-piezoserialbackend library version 01.01.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
