PACKAGE_BASENAME="libconsatt-doocs"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/consatt-based-libraries/consatt-doocs.git"
VERSION="00.26.02"
TAGVERSION=00.26.02
SOVERSION="00.26noble5.02"
DEBVERSION="00-26-noble5"
PROJECT_BUILDVERSION="noble5"
PACKAGE_VERSION="00.26noble5.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the consatt-doocs library version 00.26.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
