PACKAGE_BASENAME="libchimeratk-applicationcore-microdaq"
SOURCE_URI="https://github.com/ChimeraTK/ApplicationCore-MicroDAQ"
VERSION="03.03.02"
TAGVERSION=03.03.02
SOVERSION="03.03noble19.02"
DEBVERSION="03-03-noble19"
PROJECT_BUILDVERSION="noble19"
PACKAGE_VERSION="03.03noble19.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-applicationcore-microdaq library version 03.03.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
