PACKAGE_BASENAME="doocs-dism-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/mo_dism.git"
VERSION="02.00.03"
TAGVERSION=02.00.03
SOVERSION="02.00xenial2.03"
DEBVERSION="02-00-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="02.00xenial2.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-dism-server library version 02.00.03"
ARCH="amd64"
