PACKAGE_BASENAME="doocs-dcm-ctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_dcm.git"
VERSION="07.01.03"
TAGVERSION=07.01.03
SOVERSION="07.01focal3.03"
DEBVERSION="07-01-focal3"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="07.01focal3.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-dcm-ctrl-server library version 07.01.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
