Source: doocs-llrfctrl-server
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1), libllrflibrary-dev (= 04.00xenial1.01), libchimeratk-applicationcore-dev (= 00.13xenial8.02), libchimeratk-controlsystemadapter-doocsadapter-dev (= 00.07xenial7.00), libchimeratk-deviceaccess-doocsbackend-dev (= 00.09xenial1.01), libmtca4u-virtuallab-dev (= 00.06xenial8.00), libhdf5-serial-dev (= 1.8.16+docs-4ubuntu1), doocs-llrfctrlconfig-generator01-03-xenial1 (= 01.03xenial1.07)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git

Package: doocs-llrfctrl-server06-06-xenial1
Section: net
Architecture: amd64
Conflicts: doocs-llrfctrl-server, doocs-llrfctrlsrf-server, doocs-llrfctrlnrf-server
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-llrfctrl-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, pcieuni-dkms, libchimeratk-deviceaccess-doocsbackend00-09-xenial1, doocs-llrfctrlconfig-generator01-03-xenial1, python3-mtca4upy
Description: Low-level RF control server usable for multiple accelerators and facilities.

