Source: doocs-bam-motor-server
Priority: extra
Maintainer: Michele Viti <michele.viti@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1), libboost-dev (= 1.58.0.1ubuntu1), libboost-thread-dev (= 1.58.0.1ubuntu1), libboost-system-dev (= 1.58.0.1ubuntu1), libboost-filesystem-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 18.10.9-xenial1), dev-doocs-serverlib (= 18.10.9-xenial1), dev-doocs-doocsdzmqlib (= 18.10.9-xenial1), doocs-watchdog-server (= 18.10.9-xenial3), libmtca4u-motordrivercard-dev (= 00.12xenial4.02)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam_motor.git

Package: doocs-bam-motor-server00-00-xenial2
Section: net
Architecture: amd64
Conflicts: doocs-bam-motor-server
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-bam-motor-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-watchdog-server
Description: DOOCS server for the MD22 motor, using the BAM interface

