Source: doocs-fred-server
Priority: extra
Maintainer: N Shehzad <nadeem.shehzad@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu3), libfred-dev (= 00.07.00-xenial1), libchimeratk-applicationcore-dev (= 01.02xenial2.00), libchimeratk-controlsystemadapter-doocsadapter-dev (= 00.09xenial8.00), dev-doocs-clientlib (= 18.12.1-xenial1), dev-doocs-serverlib (= 18.12.1-xenial1), doocs-watchdog-server (= 18.12.1-xenial1), doocs-llrfctrlconfig-generator01-05 (= 01.05xenial1.00)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/utility/fred.git

Package: doocs-fred-server01-00-xenial3
Section: net
Architecture: amd64
Conflicts: doocs-fred-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-fred-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-llrfctrlconfig-generator01-05
Description: Doocs server for the FRED.

