PACKAGE_BASENAME="doocs-tel-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/anomaly-detection/anomaly-detection-config.git"
VERSION="01.00.04"
TAGVERSION=01.00.04
SOVERSION="01.00focal3.04"
DEBVERSION="01-00"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="01.00focal3.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-tel-config library version 01.00.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
