PACKAGE_BASENAME="doocs-sdm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/SDM/sdm-server-configuration.git"
VERSION="01.09.24"
TAGVERSION=01.09.24
SOVERSION="01.09noble4.24"
DEBVERSION="01-09"
PROJECT_BUILDVERSION="noble4"
PACKAGE_VERSION="01.09noble4.24"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-sdm-config library version 01.09.24"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
