PACKAGE_BASENAME="python3-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="04.00.01"
TAGVERSION=04.00.01
SOVERSION="04.00bookworm4.01"
DEBVERSION="04-00-bookworm4"
PROJECT_BUILDVERSION="bookworm4"
PACKAGE_VERSION="04.00bookworm4.01"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the python3-mtca4upy library version 04.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
