PACKAGE_BASENAME="libbeam-arrival-time-monitor"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/diagnostics/libBAM.git/"
VERSION="02.00.05"
TAGVERSION=02.00.05
SOVERSION="02.00xenial26.05"
DEBVERSION="02-00-xenial26"
PROJECT_BUILDVERSION="xenial26"
PACKAGE_VERSION="02.00xenial26.05"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the beam-arrival-time-monitor library version 02.00.05"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
