PACKAGE_BASENAME="doocs-bcm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/bcm/bcm-config.git"
VERSION="02.04.07"
TAGVERSION=02.04.07
SOVERSION="02.04focal4.07"
DEBVERSION="02-04"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="02.04focal4.07"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-bcm-config library version 02.04.07"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
