Source: doocs-fred-server
Priority: extra
Maintainer: N Shehzad <nadeem.shehzad@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1), dev-doocs-clientlib (= 18.11.1-xenial1), dev-doocs-serverlib (= 18.11.1-xenial1), doocs-watchdog-server (= 18.11.1-xenial2), libdoocs-fred-eqfct-dev (= 01.04xenial4.01), doocs-llrfctrlconfig-generator01-02-xenial1 (= 01.02xenial1.03)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/utility/fred.git

Package: doocs-fred-server00-03-xenial6
Section: net
Architecture: amd64
Conflicts: doocs-fred-server
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-fred-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-llrfctrlconfig-generator01-02-xenial1
Description: Doocs server for the FRED.

