PACKAGE_BASENAME="doocs-llrfdiagnostic-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_diagnostic-config.git"
VERSION="01.00.07"
TAGVERSION=01.00.07
SOVERSION="01.00xenial2.07"
DEBVERSION="01-00"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="01.00xenial2.07"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfdiagnostic-config library version 01.00.07"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
