Source: libchimeratk-applicationcore
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper | debhelper-compat, doxygen (>= 1.9.4-4), libchimeratk-controlsystemadapter-dev (= 02.13bookworm7.02-0), libhdf5-dev (>= 1.10.8+repack1-1), pybind11-dev (>= 2.10.3-1), mypy (>= 1.0.1-1), python3-numpy (>= 1:1.24.2-1+deb12u1), libpython3-dev (>= 3.11.2-1+b1) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ApplicationCore

Package: libchimeratk-applicationcore-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-applicationcore04-07-bookworm2, libchimeratk-controlsystemadapter-dev (>= 02.13bookworm7), libchimeratk-controlsystemadapter-dev (<< 02.13bookworm8), libhdf5-dev (>= 1.10.8+repack1-1), pybind11-dev (>= 2.10.3-1), mypy (>= 1.0.1-1), libpython3-dev (>= 3.11.2-1+b1)
Description: Header and cmake files for the ChimeraTK ApplicationCore. The files you need to compile against libchimeratk-applicationcore.

Package: libchimeratk-applicationcore04-07-bookworm2
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ChimeraTK ApplicationCore provides a C++ API for writing control system applications with the ChimeraTK ControlSystemAdapter and DeviceAccess libraries.

