PACKAGE_BASENAME="doocs-bcm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/bcm/bcm-config.git"
VERSION="02.04.14"
TAGVERSION=02.04.14
SOVERSION="02.04focal9.14"
DEBVERSION="02-04"
PROJECT_BUILDVERSION="focal9"
PACKAGE_VERSION="02.04focal9.14"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-bcm-config library version 02.04.14"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
