PACKAGE_BASENAME="doocs-ldd-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/laser-diode-driver/ldd-server-configuration.git"
VERSION="01.08.04"
TAGVERSION=01.08.04
SOVERSION="01.08focal3.04"
DEBVERSION="01-08"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="01.08focal3.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-ldd-config library version 01.08.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
