PACKAGE_BASENAME="libchimeratk-deviceaccess-modbusbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-ModbusBackend.git"
VERSION="01.03.00"
TAGVERSION=01.03.00
SOVERSION="01.03focal4.00"
DEBVERSION="01-03-focal4"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="01.03focal4.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-modbusbackend library version 01.03.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
