PACKAGE_BASENAME="opcua-generic-chimeratk-server02"
SOURCE_URI="https://github.com/ChimeraTK/GenericDeviceServer.git"
VERSION="02.02.00"
TAGVERSION=02.02.00
SOVERSION="02.02bookworm2.00"
DEBVERSION="02-02-bookworm2"
PROJECT_BUILDVERSION="bookworm2"
PACKAGE_VERSION="02.02bookworm2.00"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the opcua-generic-chimeratk-server02 library version 02.02.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
