PACKAGE_BASENAME="libconsatt-doocs"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/consatt-based-libraries/consatt-doocs.git"
VERSION="00.22.02"
TAGVERSION=00.22.02
SOVERSION="00.22focal6.02"
DEBVERSION="00-22-focal6"
PROJECT_BUILDVERSION="focal6"
PACKAGE_VERSION="00.22focal6.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the consatt-doocs library version 00.22.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
