PACKAGE_BASENAME="doocs-microtimer-server-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/utilities/microtimer-config.git"
VERSION="00.01.08"
TAGVERSION=00.01.08
SOVERSION="00.01noble3.08"
DEBVERSION="00-01-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="00.01noble3.08"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-microtimer-server-config library version 00.01.08"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
