PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="07.00.01"
TAGVERSION=07.00.01
SOVERSION="07.00xenial1.01"
DEBVERSION="07-00-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="07.00xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 07.00.01"
ARCH="amd64"
