PACKAGE_BASENAME="libchimeratk-deviceaccess-modbusbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-ModbusBackend.git"
VERSION="01.06.01"
TAGVERSION=01.06.01
SOVERSION="01.06bookworm2.01"
DEBVERSION="01-06-bookworm2"
PROJECT_BUILDVERSION="bookworm2"
PACKAGE_VERSION="01.06bookworm2.01"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-modbusbackend library version 01.06.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
