PACKAGE_BASENAME="libchimeratk-deviceaccess-piezoserialbackend"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/DeviceAccess-PiezoSerialBackend.git"
VERSION="00.02.00"
TAGVERSION=00.02.00
SOVERSION="00.02xenial1.00"
DEBVERSION="00-02-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="00.02xenial1.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-piezoserialbackend library version 00.02.00"
ARCH="amd64"
