PACKAGE_BASENAME="epics-generic-chimeratk-server02"
SOURCE_URI="https://github.com/ChimeraTK/GenericDeviceServer.git"
VERSION="02.00.01"
TAGVERSION=02.00.01
SOVERSION="02.00noble3.01"
DEBVERSION="02-00-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="02.00noble3.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the epics-generic-chimeratk-server02 library version 02.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
