PACKAGE_BASENAME="doocs-eod-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/eod/eod-server.git"
VERSION="01.01.04"
TAGVERSION=01.01.04
SOVERSION="01.01focal2.04"
DEBVERSION="01-01-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="01.01focal2.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-eod-server library version 01.01.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
