PACKAGE_BASENAME="libmtca4u-motordrivercard"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard"
VERSION="01.10.02"
TAGVERSION=01.10.02
SOVERSION="01.10focal1.02"
DEBVERSION="01-10-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.10focal1.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the mtca4u-motordrivercard library version 01.10.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
