PACKAGE_BASENAME="doocs-linklock-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/fibre-link-stabilisation/link-lock-server.git"
VERSION="01.28.01"
TAGVERSION=01.28.01
SOVERSION="01.28noble1.01"
DEBVERSION="01-28-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="01.28noble1.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-linklock-server library version 01.28.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
