PACKAGE_BASENAME="qthardmon"
SOURCE_URI="https://github.com/ChimeraTK/QtHardMon"
VERSION="01.03.01"
TAGVERSION=01.03.01
SOVERSION="01.03focal1.01"
DEBVERSION="01-03-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.03focal1.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the qthardmon library version 01.03.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
