PACKAGE_BASENAME="qthardmon"
SOURCE_URI="https://github.com/ChimeraTK/QtHardMon"
VERSION="01.08.03"
TAGVERSION=01.08.03
SOVERSION="01.08bookworm13.03"
DEBVERSION="01-08-bookworm13"
PROJECT_BUILDVERSION="bookworm13"
PACKAGE_VERSION="01.08bookworm13.03"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the qthardmon library version 01.08.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
