PACKAGE_BASENAME="libchimeratk-controlsystemadapter-opcuaadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-OPC-UA-Adapter"
VERSION="02.01.01"
TAGVERSION=02.01.01
SOVERSION="02.01focal9.01"
DEBVERSION="02-01-focal9"
PROJECT_BUILDVERSION="focal9"
PACKAGE_VERSION="02.01focal9.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-opcuaadapter library version 02.01.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
