PACKAGE_BASENAME="doocs-ldd-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/laser-diode-driver/ldd-server-configuration.git"
VERSION="01.08.06"
TAGVERSION=01.08.06
SOVERSION="01.08focal5.06"
DEBVERSION="01-08"
PROJECT_BUILDVERSION="focal5"
PACKAGE_VERSION="01.08focal5.06"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-ldd-config library version 01.08.06"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
