PACKAGE_BASENAME="doocs-llrfctrlsrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlsrf.git"
VERSION="05.09.07"
TAGVERSION=v05.09.07
SOVERSION="05.09xenial7.07"
DEBVERSION="05-09-xenial7"
PROJECT_BUILDVERSION="xenial7"
PACKAGE_VERSION="05.09xenial7.07"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlsrf-server library version 05.09.07"
ARCH="amd64"
