PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-controller-server-configuration/llrfctrl-config.git"
VERSION="08.12.08"
TAGVERSION=08.12.08
SOVERSION="08.12noble1.08"
DEBVERSION="08-12"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="08.12noble1.08"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 08.12.08"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
