PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="07.03.03"
TAGVERSION=07.03.03
SOVERSION="07.03xenial6.03"
DEBVERSION="07-03-xenial6"
PROJECT_BUILDVERSION="xenial6"
PACKAGE_VERSION="07.03xenial6.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 07.03.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
