PACKAGE_BASENAME="doocs-qlset-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/qlset.git"
VERSION="01.02.00"
TAGVERSION=01.02.00
SOVERSION="01.02focal1.00"
DEBVERSION="01-02-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.02focal1.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-qlset-server library version 01.02.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
