Source: qthardmon
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libchimeratk-deviceaccess-dev (= 02.05focal1.00-0), libboost-test-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), libqwt-qt5-dev (= 6.1.4-1.1build1), qtbase5-dev (= 5.12.8+dfsg-0ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/QtHardMon

Package: qthardmon
Section: utils
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: MTCA4U QtHardMon provides a GUI to access MTCA.4 devices. MTCA4U is a software package which provides divers, a C++ API and tools for hardware monitoring on MicroTCA.4 crates. QtHardMon is a GUI which provides access to the registers on the board (display and modify). It also includes simple plotting functionality.

