Source: libchimeratk-deviceaccess-opc-ua-backend
Priority: optional
Maintainer: Klaus Zenker (HZDR) <k.zenker@hzdr.de>
Build-Depends: debhelper | debhelper-compat, python3 (>= 3.11.2-1+b1), debhelper (>= 13.11.4), cmake (>= 3.25.1-1), doxygen (>= 1.9.4-4), libchimeratk-deviceaccess-dev (= 03.26bookworm1.00-0), libboost-test1.81-dev (>= 1.81.0-5+deb12u1), libopen62541-dev (= 1.4bookworm1.6-0-0), libxml++2.6-dev (>= 2.40.1-3), libchimeratk-deviceaccess (= 03.26bookworm1.00-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/DeviceAccess-OPCUABackend

Package: libchimeratk-deviceaccess-opc-ua-backend-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess-opc-ua-backend (= 01.06bookworm2.00), libchimeratk-deviceaccess-dev (>= 03.26bookworm1), libchimeratk-deviceaccess-dev (<< 03.26bookworm2), libopen62541-dev (>= 1.4bookworm1), libopen62541-dev (<< 1.4bookworm2)
Description: Header and cmake files for the OPC UA Backend for the ChimeraTK DeviceAccess library. The files you need to compile against libchimeratk-deviceaccess-opcuabackend.

Package: libchimeratk-deviceaccess-opc-ua-backend01-06-bookworm2
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-deviceaccess-opcuabackend provides the OPC UA backend for the ChimeraTK DeviceAccess library, which allows accessing network data distributed via OPC UA protocol.

Package: libchimeratk-deviceaccess-opc-ua-backend
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess-opc-ua-backend01-06-bookworm2, libchimeratk-deviceaccess (>= 03.26bookworm1), libchimeratk-deviceaccess (<< 03.26bookworm2)
Description: "Provides the so-file symlink without version number for runtime loading without bringing all the dev package dependencies."

