PACKAGE_BASENAME="libchimeratk-applicationcore-serverhistorymodule"
SOURCE_URI="https://github.com/ChimeraTK/ApplicationCore-ServerHistoryModule"
VERSION="01.02.00"
TAGVERSION=01.02.00
SOVERSION="01.02bookworm12.00"
DEBVERSION="01-02-bookworm12"
PROJECT_BUILDVERSION="bookworm12"
PACKAGE_VERSION="01.02bookworm12.00"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-applicationcore-serverhistorymodule library version 01.02.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
