PACKAGE_BASENAME="libdoocsllrfwrapper"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/doocsllrfwrapper.git"
VERSION="00.14.00"
TAGVERSION=00.14.00
SOVERSION="00.14xenial2.00"
DEBVERSION="00-14-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="00.14xenial2.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocsllrfwrapper library version 00.14.00"
ARCH="amd64"
