PACKAGE_BASENAME="opcua-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="07.02.05"
TAGVERSION=07.02.05
SOVERSION="07.02focal1.05"
DEBVERSION="07-02-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="07.02focal1.05"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the opcua-llrfctrl-server library version 07.02.05"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
