PACKAGE_BASENAME="python3-textual-dev"
SOURCE_URI="https://github.com/Textualize/textual-dev"
VERSION="1.7.1"
TAGVERSION=v1.7.1
SOVERSION="1.7noble1.1"
DEBVERSION="1-7-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="1.7noble1.1"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the python3-textual-dev library version 1.7.1"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
