PACKAGE_BASENAME="doocs-llrfpiezo-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfpiezoctrl.git"
VERSION="03.01.01"
TAGVERSION=03.01.01
SOVERSION="03.01xenial1.01"
DEBVERSION="03-01-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="03.01xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfpiezo-server library version 03.01.01"
ARCH="amd64"
