PACKAGE_BASENAME="libmtca4u-deviceaccess"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess"
VERSION="00.17.01"
TAGVERSION=00.17.01
SOVERSION="00.17trusty1.01"
DEBVERSION="00-17-trusty1"
PROJECT_BUILDVERSION="trusty1"
PACKAGE_VERSION="00.17trusty1.01"
DISTRIBUTION="trusty"
PACKAGE_MESSAGE="Debian package for the mtca4u-deviceaccess library version 00.17.01"
ARCH="amd64"
