PACKAGE_BASENAME="libchimeratk-applicationcore"
SOURCE_URI="https://github.com/ChimeraTK/ApplicationCore"
VERSION="00.13.02"
TAGVERSION=00.13.02
SOVERSION="00.13xenial4.02"
DEBVERSION="00-13-xenial4"
PROJECT_BUILDVERSION="xenial4"
PACKAGE_VERSION="00.13xenial4.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-applicationcore library version 00.13.02"
ARCH="amd64"
