PACKAGE_BASENAME="doocs-mo-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/master-oscillator/flash/flash-mo-gen1-server.git"
VERSION="01.03.05"
TAGVERSION=01.03.05
SOVERSION="01.03noble1.05"
DEBVERSION="01-03-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="01.03noble1.05"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-mo-server library version 01.03.05"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
