PACKAGE_BASENAME="libbeam-arrival-time-monitor"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/diagnostics/libBAM.git/"
VERSION="01.08.03"
TAGVERSION=01.08.03
SOVERSION="01.08xenial26.03"
DEBVERSION="01-08-xenial26"
PROJECT_BUILDVERSION="xenial26"
PACKAGE_VERSION="01.08xenial26.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the beam-arrival-time-monitor library version 01.08.03"
ARCH="amd64"
