PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl-config.git"
VERSION="07.03.04"
TAGVERSION=07.03.04
SOVERSION="07.03xenial1.04"
DEBVERSION="07-03"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="07.03xenial1.04"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 07.03.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
