PACKAGE_BASENAME="libconsatt-doocs"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/consatt-based-libraries/consatt-doocs.git"
VERSION="00.26.01"
TAGVERSION=00.26.01
SOVERSION="00.26noble3.01"
DEBVERSION="00-26-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="00.26noble3.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the consatt-doocs library version 00.26.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
