PACKAGE_BASENAME="libtec-applicationmodule"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/tec/tec-applicationmodule.git"
VERSION="02.00.00"
TAGVERSION=02.00.00
SOVERSION="02.00focal5.00"
DEBVERSION="02-00-focal5"
PROJECT_BUILDVERSION="focal5"
PACKAGE_VERSION="02.00focal5.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the tec-applicationmodule library version 02.00.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
