PACKAGE_BASENAME="python-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="01.03.03"
TAGVERSION=01.03.03
SOVERSION="01.03buster1.03"
DEBVERSION="01-03-buster1"
PROJECT_BUILDVERSION="buster1"
PACKAGE_VERSION="01.03buster1.03"
DISTRIBUTION="buster"
PACKAGE_MESSAGE="Debian package for the python-mtca4upy library version 01.03.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
