Source: mtca4u-command-line-tools
Priority: optional
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: debhelper | debhelper-compat, doxygen (>= 1.9.4-4), libchimeratk-deviceaccess-dev (= 03.26bookworm1.00-0), libboost1.81-dev (>= 1.81.0-5+deb12u1), libboost-system1.81-dev (>= 1.81.0-5+deb12u1), libboost-filesystem1.81-dev (>= 1.81.0-5+deb12u1), libchimeratk-deviceaccess (= 03.26bookworm1.00-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/CommandLineTools

Package: mtca4u-command-line-tools00-16
Section: utils
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: MTCA4U command line executable with version number in the executable and package name. Like this you can have multiple versions installed and declare dependencies in scripts which use it.

Package: mtca4u-command-line-tools
Section: utils
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, mtca4u-command-line-tools00-16 (=00.16bookworm10.02), libchimeratk-deviceaccess (>= 03.26bookworm1), libchimeratk-deviceaccess (<< 03.26bookworm2)
Description: MTCA4U command line tools to read and write from the command line using device aliasses and register names.

