PACKAGE_BASENAME="libmtca4u-motordrivercard"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard"
VERSION="00.14.00"
TAGVERSION=00.14.00
SOVERSION="00.14xenial2.00"
DEBVERSION="00-14-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="00.14xenial2.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the mtca4u-motordrivercard library version 00.14.00"
ARCH="amd64"
