Source: doocs-llrfctrlconfig-generator
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/tools/rf/llrfCtrl_config.git

Package: doocs-llrfctrlconfig-generator00-00-xenial1
Section: net
Architecture: amd64
Conflicts: doocs-llrfctrlconfig-generator
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-llrfctrlconfig-generator
Depends: ${shlibs:Depends}, ${misc:Depends}, subversion
Description: DESY FLASH/XFEL controls package. Configuration generator for the DOOCS low-level RF control servers.

