PACKAGE_BASENAME="libchimeratk-deviceaccess-epics-backend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-EpicsBackend"
VERSION="01.00.02"
TAGVERSION=01.00.02
SOVERSION="01.00bookworm8.02"
DEBVERSION="01-00-bookworm8"
PROJECT_BUILDVERSION="bookworm8"
PACKAGE_VERSION="01.00bookworm8.02"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-epics-backend library version 01.00.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
