Source: doocs-llrfpiezo-server
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu3), dev-doocs-clientlib (= 18.11.5-xenial1), dev-doocs-serverlib (= 18.11.5-xenial1), dev-doocs-doocsdzmqlib (= 18.11.5-xenial1), libdoocsllrfwrapper-dev (= 00.13xenial3.00), liblua5.2-dev (= 5.2.4-1ubuntu1), doocs-watchdog-server (= 18.11.5-xenial1), doocs-llrfctrlconfig-generator01-02-xenial1 (= 01.02xenial1.23)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/rf/llrfpiezoctrl.git

Package: doocs-llrfpiezo-server03-04-xenial1
Section: net
Architecture: amd64
Conflicts: doocs-llrfpiezo-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-llrfpiezo-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-llrfctrlconfig-generator01-02-xenial1
Description: DESY FLASH/XFEL controls package. DOOCS low-level RF piezo control server.

