PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrfctrl-server.git"
VERSION="08.08.02"
TAGVERSION=08.08.02
SOVERSION="08.08noble2.02"
DEBVERSION="08-08-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="08.08noble2.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 08.08.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
