PACKAGE_BASENAME="doocs-dism-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/mo_dism.git"
VERSION="02.03.01"
TAGVERSION=02.03.01
SOVERSION="02.03xenial2.01"
DEBVERSION="02-03-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="02.03xenial2.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-dism-server library version 02.03.01"
ARCH="amd64"
