PACKAGE_BASENAME="pcieuni"
SOURCE_URI="https://github.com/ChimeraTK/pcieuni-driver"
VERSION="00.01.12"
TAGVERSION=00.01.12
SOVERSION="00.01bookworm1.12"
DEBVERSION="00-01"
PROJECT_BUILDVERSION="bookworm1"
PACKAGE_VERSION="00.01bookworm1.12"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the pcieuni library version 00.01.12"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
