PACKAGE_BASENAME="doocs-fred-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/utility/fred-config.git"
VERSION="01.07.03"
TAGVERSION=01.07.03
SOVERSION="01.07focal2.03"
DEBVERSION="01-07"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="01.07focal2.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-fred-config library version 01.07.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
