PACKAGE_BASENAME="libchimeratk-deviceaccess-commandbasedbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-CommandBasedBackend.git"
VERSION="00.01.04"
TAGVERSION=00.01.04
SOVERSION="00.01bookworm9.04"
DEBVERSION="00-01-bookworm9"
PROJECT_BUILDVERSION="bookworm9"
PACKAGE_VERSION="00.01bookworm9.04"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-commandbasedbackend library version 00.01.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
