Source: libllrflibrary
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper | debhelper-compat, debhelper (= 12.10ubuntu1), cmake (= 3.16.3-1ubuntu1.20.04.1), libboost-dev (= 1.71.0.0ubuntu2), libboost-test-dev (= 1.71.0.0ubuntu2), libchimeratk-applicationcore-dev (= 03.07focal1.00-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-library.git

Package: libllrflibrary-dev
Section: libdevel
Architecture: amd64
Conflicts: dev-llrflibrary
Replaces: dev-llrflibrary
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libllrflibrary05-04-focal3, libchimeratk-applicationcore-dev (>= 03.07focal1), libchimeratk-applicationcore-dev (<< 03.07focal2)
Description: Header and cmake files for the Low Level Radio Frequency Library. The files you need to compile against the LLRFLibrary.

Package: libllrflibrary05-04-focal3
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Low Level Radio Frequency (LLRF) control library. Developed at DESY for the  FLASH/XFEL project.

