PACKAGE_BASENAME="libchimeratk-deviceaccess"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess"
VERSION="02.00.01"
TAGVERSION=02.00.01
SOVERSION="02.00xenial1.01"
DEBVERSION="02-00-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="02.00xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess library version 02.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
