PACKAGE_BASENAME="doocs-linklock-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/lbsync/linklock.git"
VERSION="01.07.01"
TAGVERSION=01.07.01
SOVERSION="01.07xenial2.01"
DEBVERSION="01-07-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="01.07xenial2.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-linklock-server library version 01.07.01"
ARCH="amd64"
