PACKAGE_BASENAME="qthardmon"
SOURCE_URI="https://github.com/ChimeraTK/QtHardMon"
VERSION="01.04.01"
TAGVERSION=01.04.01
SOVERSION="01.04buster1.01"
DEBVERSION="01-04-buster1"
PROJECT_BUILDVERSION="buster1"
PACKAGE_VERSION="01.04buster1.01"
DISTRIBUTION="buster"
PACKAGE_MESSAGE="Debian package for the qthardmon library version 01.04.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
