PACKAGE_BASENAME="doocs-bam-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.17.02"
TAGVERSION=01.17.02
SOVERSION="01.17xenial3.02"
DEBVERSION="01-17-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="01.17xenial3.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server library version 01.17.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
