PACKAGE_BASENAME="python3-pyrate"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/tools/rf/pystand-piezo.git"
VERSION="01.00.04"
TAGVERSION=01.00.04
SOVERSION="01.00xenial1.04"
DEBVERSION="01-00-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.00xenial1.04"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the python3-pyrate library version 01.00.04"
ARCH="amd64"
