PACKAGE_BASENAME="doocs-llrfdiagnostic-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_diagnostic.git"
VERSION="01.00.02"
TAGVERSION=01.00.02
SOVERSION="01.00xenial3.02"
DEBVERSION="01-00-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="01.00xenial3.02"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfdiagnostic-server library version 01.00.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
