PACKAGE_BASENAME="doocs-llrfctrl-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrfctrl-server.git"
VERSION="08.04.02"
TAGVERSION=08.04.02
SOVERSION="08.04focal6.02"
DEBVERSION="08-04-focal6"
PROJECT_BUILDVERSION="focal6"
PACKAGE_VERSION="08.04focal6.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-server library version 08.04.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
