PACKAGE_BASENAME="qthardmon"
SOURCE_URI="https://github.com/ChimeraTK/QtHardMon"
VERSION="00.18.01"
TAGVERSION=00.18.01
SOVERSION="00.18trusty3.01"
DEBVERSION="00-18-trusty3"
PROJECT_BUILDVERSION="trusty3"
PACKAGE_VERSION="00.18trusty3.01"
DISTRIBUTION="trusty"
PACKAGE_MESSAGE="Debian package for the qthardmon library version 00.18.01"
ARCH="amd64"
