PACKAGE_BASENAME="uio-dummy"
SOURCE_URI="https://github.com/ChimeraTK/uio-dummy.git"
VERSION="00.01.01"
TAGVERSION=00.01.01
SOVERSION="00.01jammy1.01"
DEBVERSION="00-01"
PROJECT_BUILDVERSION="jammy1"
PACKAGE_VERSION="00.01jammy1.01"
DISTRIBUTION="jammy"
PACKAGE_MESSAGE="Debian package for the uio-dummy library version 00.01.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
