PACKAGE_BASENAME="doocs-bcm-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/bcm/bcm-server.git"
VERSION="02.06.01"
TAGVERSION=02.06.01
SOVERSION="02.06noble2.01"
DEBVERSION="02-06-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="02.06noble2.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-bcm-server library version 02.06.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
