Source: libchimeratk-applicationcore-loggingmodule
Priority: optional
Maintainer: Klaus Zenker <k.zenker@hzdr.de>
Build-Depends: debhelper | debhelper-compat, doxygen (>= 1.9.4-4), libchimeratk-applicationcore-dev (= 04.07bookworm2.01-0), libboost-filesystem1.81-dev (>= 1.81.0-5+deb12u1) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ApplicationCore-LoggingModule

Package: libchimeratk-applicationcore-loggingmodule-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-applicationcore-loggingmodule01-01-bookworm20, libchimeratk-applicationcore-dev (>= 04.07bookworm2), libchimeratk-applicationcore-dev (<< 04.07bookworm3), libboost-filesystem1.81-dev (>= 1.81.0-5+deb12u1)
Description: Header and cmake files for the ApplicationCore logging module.

Package: libchimeratk-applicationcore-loggingmodule01-01-bookworm20
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Provides the server based ApplicaitonCore logging module.

