Source: libchimeratk-applicationcore
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper | debhelper-compat, doxygen (>= 1.9.8+ds-2build5), libchimeratk-controlsystemadapter-dev (= 02.13noble6.01-0), libhdf5-dev (>= 1.10.10+repack-3.1ubuntu4), pybind11-dev (>= 2.11.1-2), mypy (>= 1.9.0-4ubuntu1), python3-numpy (>= 1:1.26.4+ds-6ubuntu1), libpython3-dev (>= 3.12.3-0ubuntu2.1) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ApplicationCore

Package: libchimeratk-applicationcore-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-applicationcore04-06-noble1, libchimeratk-controlsystemadapter-dev (>= 02.13noble6), libchimeratk-controlsystemadapter-dev (<< 02.13noble7), libhdf5-dev (>= 1.10.10+repack-3.1ubuntu4), pybind11-dev (>= 2.11.1-2), mypy (>= 1.9.0-4ubuntu1), libpython3-dev (>= 3.12.3-0ubuntu2.1)
Description: Header and cmake files for the ChimeraTK ApplicationCore. The files you need to compile against libchimeratk-applicationcore.

Package: libchimeratk-applicationcore04-06-noble1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ChimeraTK ApplicationCore provides a C++ API for writing control system applications with the ChimeraTK ControlSystemAdapter and DeviceAccess libraries.

