PACKAGE_BASENAME="libcavitysectionlocation"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/cavity_section_location.git"
VERSION="00.01.04"
TAGVERSION=00.01.04
SOVERSION="00.01focal5.04"
DEBVERSION="00-01-focal5"
PROJECT_BUILDVERSION="focal5"
PACKAGE_VERSION="00.01focal5.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the cavitysectionlocation library version 00.01.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
