PACKAGE_BASENAME="qthardmon"
SOURCE_URI="https://github.com/ChimeraTK/QtHardMon"
VERSION="01.05.00"
TAGVERSION=01.05.00
SOVERSION="01.05focal2.00"
DEBVERSION="01-05-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="01.05focal2.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the qthardmon library version 01.05.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
