PACKAGE_BASENAME="python3-textual"
SOURCE_URI="https://github.com/Textualize/textual"
VERSION="0.85.2"
TAGVERSION=v0.85.2
SOVERSION="0.85noble1.2"
DEBVERSION="0-85"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="0.85noble1.2"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the python3-textual library version 0.85.2"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
