PACKAGE_BASENAME="libchimeratk-controlsystemadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter"
VERSION="02.04.02"
TAGVERSION=02.04.02
SOVERSION="02.04focal3.02"
DEBVERSION="02-04-focal3"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="02.04focal3.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter library version 02.04.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
