PACKAGE_BASENAME="python-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="00.09.01"
TAGVERSION=00.09.01
SOVERSION="00.09trusty2.01"
DEBVERSION="00-09-trusty2"
PROJECT_BUILDVERSION="trusty2"
PACKAGE_VERSION="00.09trusty2.01"
DISTRIBUTION="trusty"
PACKAGE_MESSAGE="Debian package for the python-mtca4upy library version 00.09.01"
ARCH="amd64"
