PACKAGE_BASENAME="doocs-llrfctrlnrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlnrf.git"
VERSION="03.08.03"
TAGVERSION=v03.08.03
SOVERSION="03.08xenial6.03"
DEBVERSION="03-08-xenial6"
PROJECT_BUILDVERSION="xenial6"
PACKAGE_VERSION="03.08xenial6.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlnrf-server library version 03.08.03"
ARCH="amd64"
