PACKAGE_BASENAME="libdaction"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git"
VERSION="02.16.01"
TAGVERSION=02.16.01
SOVERSION="02.16xenial18.01"
DEBVERSION="02-16-xenial18"
PROJECT_BUILDVERSION="xenial18"
PACKAGE_VERSION="02.16xenial18.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the daction library version 02.16.01"
ARCH="amd64"
