PACKAGE_BASENAME="doocs-pi-qmotion-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/pi-qmotion/pi-qmotion-server.git"
VERSION="00.09.01"
TAGVERSION=00.09.01
SOVERSION="00.09noble1.01"
DEBVERSION="00-09-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="00.09noble1.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-pi-qmotion-server library version 00.09.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
