PACKAGE_BASENAME="libdoocs-fred-eqfct"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/fredeqfctlib.git"
VERSION="01.04.03"
TAGVERSION=01.04.03
SOVERSION="01.04xenial12.03"
DEBVERSION="01-04-xenial12"
PROJECT_BUILDVERSION="xenial12"
PACKAGE_VERSION="01.04xenial12.03"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-fred-eqfct library version 01.04.03"
ARCH="amd64"
