Source: doocs-llrfctrl-server
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper | debhelper-compat, libllrflibrary-dev (= 05.04focal8.00-0), libchimeratk-applicationcore-dev (= 04.01focal1.00-0), libchimeratk-controlsystemadapter-doocsadapter-dev (= 01.12focal1.01-0), libchimeratk-deviceaccess-doocsbackend-dev (= 01.09focal18.02-0), libchimeratk-virtuallab-dev (= 01.01focal5.01-0), libchimeratk-applicationcore-microdaq-dev (= 03.03focal3.00-0), libhdf5-dev (= 1.10.4+repack-11ubuntu1), libmath-utils-dev (= 03.01focal1.02-0), doocs-llrfctrl-config08-08 (= 08.08focal3.14-0), config-generator-scripts03-02 (= 03.02focal3.03-0), dev-doocs-libgul14 (= 24.12.1-focal1), libarmadillo-dev (= 1:9.800.4+dfsg-1build1) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrfctrl-server.git

Package: doocs-llrfctrl-server08-08-focal5
Section: net
Architecture: amd64
Conflicts: doocs-llrfctrl-server, doocs-llrfctrlsrf-server, doocs-llrfctrlnrf-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-llrfctrl-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, pcieuni-dkms, xdma-dkms, libchimeratk-deviceaccess-doocsbackend01-09-focal18, doocs-llrfctrl-config08-08, python3-mtca4upy
Description: Low-level RF control server usable for multiple accelerators and facilities.

