PACKAGE_BASENAME="libmtca4u-virtuallab"
SOURCE_URI="https://github.com/ChimeraTK/VirtualLab"
VERSION="00.08.00"
TAGVERSION=00.08.00
SOVERSION="00.08xenial2.00"
DEBVERSION="00-08-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="00.08xenial2.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the mtca4u-virtuallab library version 00.08.00"
ARCH="amd64"
