PACKAGE_BASENAME="tango-generic-chimeratk-server"
SOURCE_URI="https://github.com/ChimeraTK/GenericDeviceServer.git"
VERSION="01.05.00"
TAGVERSION=01.05.00
SOVERSION="01.05noble3.00"
DEBVERSION="01-05-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="01.05noble3.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the tango-generic-chimeratk-server library version 01.05.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
