Source: doocs-tel-server
Priority: optional
Maintainer: N Shehzad <nadeem.shehzad@desy.de>
Build-Depends: debhelper | debhelper-compat, libchimeratk-applicationcore-dev (= 04.01focal2.00-0), libchimeratk-controlsystemadapter-doocsadapter-dev (= 01.12focal4.02-0), libchimeratk-deviceaccess-doocsbackend-dev (= 01.09focal21.02-0), libmath-utils-dev (= 03.01focal1.02-0), dev-doocs-libgul14 (= 25.4.1-focal1), doocs-tel-config01-01 (= 01.01focal2.03-0), config-generator-scripts03-02 (= 03.02focal4.04-0) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/low-level-radio-frequency/tel.git

Package: doocs-tel-server01-01-focal4
Section: net
Architecture: amd64
Conflicts: doocs-tel-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-tel-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, libchimeratk-deviceaccess-doocsbackend01-09-focal21, doocs-tel-config01-01, python3-mtca4upy
Description: Doocs server for the trip event logging.

