Source: libopen62541
Priority: extra
Maintainer: Klaus Zenker (HZDR) <k.zenker@hzdr.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), python3-dev (= 3.8.2-0ubuntu2), git (= 1:2.25.1-1ubuntu3.11), ca-certificates (= 20211016ubuntu0.20.04.1), libmbedtls-dev (= 2.16.4-1ubuntu2), libmbedtls-dev (= 2.16.4-1ubuntu2)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/open62541-interface

Package: libopen625411-3-focal4
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OPC-UA implementation open62541. See https://github.com/open62541/open62541

Package: libopen62541-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libopen625411-3-focal4, libmbedtls-dev (= 2.16.4-1ubuntu2)
Description: Header and config files for OPC-UA implementation open62541. See https://github.com/open62541/open62541

