Source: libdaction
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: doxygen (= 1.8.11-1ubuntu0.1), libboost-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 20.10.1-xenial1), dev-doocs-serverlib (= 20.10.1-xenial1), libchimeratk-deviceaccess-dev (= 02.02xenial1.01-0), libboost-test-dev (= 1.58.0.1ubuntu1), libboost-system-dev (= 1.58.0.1ubuntu1), pkg-config (= 0.29.1-0ubuntu1), libtirpc-dev (= 0.2.5-1ubuntu0.1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git

Package: libdaction-dev
Section: libdevel
Architecture: amd64
Conflicts: dev-doocs-daction
Replaces: dev-doocs-daction
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libdaction02-16-xenial47, libboost-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 20.10.1-xenial1), dev-doocs-serverlib (= 20.10.1-xenial1), libchimeratk-deviceaccess-dev (>= 02.02xenial1), libchimeratk-deviceaccess-dev (<< 02.02xenial2), pkg-config (= 0.29.1-0ubuntu1), libtirpc-dev (= 0.2.5-1ubuntu0.1)
Description: Header and cmake files for the DAction Library.

Package: libdaction02-16-xenial47
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DAction library.

