PACKAGE_BASENAME="doocs-sdm-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/SDM/sdm-server-configuration.git"
VERSION="01.09.16"
TAGVERSION=01.09.16
SOVERSION="01.09focal4.16"
DEBVERSION="01-09"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="01.09focal4.16"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-sdm-config library version 01.09.16"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
