PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="01.04.02"
TAGVERSION=01.04.02
SOVERSION="01.04focal13.02"
DEBVERSION="01-04-focal13"
PROJECT_BUILDVERSION="focal13"
PACKAGE_VERSION="01.04focal13.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 01.04.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
