PACKAGE_BASENAME="python3-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="03.05.01"
TAGVERSION=03.05.01
SOVERSION="03.05bookworm3.01"
DEBVERSION="03-05-bookworm3"
PROJECT_BUILDVERSION="bookworm3"
PACKAGE_VERSION="03.05bookworm3.01"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the python3-mtca4upy library version 03.05.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
