PACKAGE_BASENAME="libchimeratk-controlsystemadapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter"
VERSION="02.13.02"
TAGVERSION=02.13.02
SOVERSION="02.13noble7.02"
DEBVERSION="02-13-noble7"
PROJECT_BUILDVERSION="noble7"
PACKAGE_VERSION="02.13noble7.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter library version 02.13.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
