PACKAGE_BASENAME="tarla-llrfctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-controller-server-configuration/tarla-llrfctrl-config.git"
VERSION="08.08.00"
TAGVERSION=08.08.00
SOVERSION="08.08noble1.00"
DEBVERSION="08-08"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="08.08noble1.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the tarla-llrfctrl-config library version 08.08.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
