PACKAGE_BASENAME="chimeratk-chai"
SOURCE_URI="https://github.com/ChimeraTK/Chai"
VERSION="01.00.00"
TAGVERSION=01.00.00
SOVERSION="01.00noble2.00"
DEBVERSION="01-00-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="01.00noble2.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the chimeratk-chai library version 01.00.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
