Source: libchimeratk-deviceaccess-piezoserialbackend
Priority: extra
Maintainer: Filip Makowski <filip.makowski@desy.de>
Build-Depends: doxygen (= 1.8.11-1ubuntu0.1), libchimeratk-deviceaccess-dev (= 01.05xenial1.00), libboost-dev (= 1.58.0.1ubuntu1), libboost-system-dev (= 1.58.0.1ubuntu1), libboost-test-dev (= 1.58.0.1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/rf/DeviceAccess-PiezoSerialBackend.git

Package: libchimeratk-deviceaccess-piezoserialbackend-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess-piezoserialbackend00-04-xenial6, libchimeratk-deviceaccess-dev (>= 01.05xenial1), libchimeratk-deviceaccess-dev (<< 01.05xenial2)
Description: Header and cmake files for the PiezoSerial Backend for the ChimeraTK DeviceAccess library. The files you need to compile against libchimeratk-deviceaccess-piezoserialbackend.

Package: libchimeratk-deviceaccess-piezoserialbackend00-04-xenial6
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-deviceaccess-piezoserialbackend provides the PiezoSerial backend for the ChimeraTK DeviceAccess library, which allows accessing PZ16M via USB diagnostic port  as devices through the DeviceAccess interface.

