Source: chimeratk-watchdog-server-opcua
Priority: extra
Maintainer: Klaus Zenker <k.zenker@hzdr.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu3), doxygen (= 1.8.11-1), libchimeratk-controlsystemadapter-dev (= 01.00xenial3.00), libchimeratk-applicationcore-dev (= 01.01xenial1.00), libchimeratk-controlsystemadapter-opcuaadapter-dev (= 01.06xenial3.00), libprocps4-dev (= 2:3.3.10-4ubuntu2.4)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/Watchdog

Package: chimeratk-watchdog-server-opcua
Section: net
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: watchdog-server
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: ChimeraTK ApplicationCore based watchdog server.

