Source: libchimeratk-controlsystemadapter
Priority: optional
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: debhelper | debhelper-compat, doxygen (= 1.9.4-4), libchimeratk-deviceaccess-dev (= 03.15bookworm1.01-0), libboost-dev (= 1.74.0.3), libboost-test-dev (= 1.74.0.3), libboost-system-dev (= 1.74.0.3), libboost-thread-dev (= 1.74.0.3), libboost-chrono-dev (= 1.74.0.3), libboost-filesystem-dev (= 1.74.0.3), libxml++2.6-dev (= 2.40.1-3) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ControlSystemAdapter

Package: libchimeratk-controlsystemadapter-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-controlsystemadapter02-10-bookworm1, libchimeratk-deviceaccess-dev (>= 03.15bookworm1), libchimeratk-deviceaccess-dev (<< 03.15bookworm2), libboost-dev (= 1.74.0.3), libboost-test-dev (= 1.74.0.3), libboost-system-dev (= 1.74.0.3), libboost-thread-dev (= 1.74.0.3), libboost-chrono-dev (= 1.74.0.3), libboost-filesystem-dev (= 1.74.0.3), libxml++2.6-dev (= 2.40.1-3)
Description: Header and cmake files for the ChimeraTK ControlSystemAdapter. The files you need to compile against libchimeratk-controlsystemadaper.

Package: libchimeratk-controlsystemadapter02-10-bookworm1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-controlsystemadapter provides the ChimeraTK ControlSystemAdapter which allows programming control applications independent of the control system middleware.

