Source: libchimeratk-applicationcore
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libchimeratk-controlsystemadapter-dev (= 02.05focal1.00-0), libhdf5-dev (= 1.10.4+repack-11ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ApplicationCore

Package: libchimeratk-applicationcore-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-applicationcore02-11-focal2, libchimeratk-controlsystemadapter-dev (>= 02.05focal1), libchimeratk-controlsystemadapter-dev (<< 02.05focal2), libhdf5-dev (= 1.10.4+repack-11ubuntu1)
Description: Header and cmake files for the ChimeraTK ApplicationCore. The files you need to compile against libchimeratk-applicationcore.

Package: libchimeratk-applicationcore02-11-focal2
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ChimeraTK ApplicationCore provides a C++ API for writing control system applications with the ChimeraTK ControlSystemAdapter and DeviceAccess libraries.

