PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-controller-server-configuration/llrfctrl-config.git"
VERSION="08.06.01"
TAGVERSION=08.06.01
SOVERSION="08.06focal1.01"
DEBVERSION="08-06"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="08.06focal1.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 08.06.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
