PACKAGE_BASENAME="libwt"
SOURCE_URI="https://github.com/emweb/wt"
VERSION="4.10.0"
TAGVERSION=4.10.0
SOVERSION="4.10jammy1.0"
DEBVERSION="4-10-jammy1"
PROJECT_BUILDVERSION="jammy1"
PACKAGE_VERSION="4.10jammy1.0"
DISTRIBUTION="jammy"
PACKAGE_MESSAGE="Debian package for the wt library version 4.10.0"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
