Source: libchimeratk-cppext
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper | debhelper-compat, doxygen (= 1.9.4-4), libboost-dev (= 1.74.0.3), libboost-test-dev (= 1.74.0.3), libboost-system-dev (= 1.74.0.3), libboost-thread-dev (= 1.74.0.3) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/cppext

Package: libchimeratk-cppext-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: libchimeratk-cppext-doc
Suggests: 
Enhances: 
Provides: 
Depends: 
Description: Small header-only C++ library with a collection with useful template classes for use within the ChimeraTK framework.

Package: libchimeratk-cppext-doc
Section: libdevel
Architecture: any
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: libchimeratk-cppext-dev
Provides: 
Depends: libchimeratk-cppext-dev
Description: The doxygen html documentation for libchimeratk-cppext.

