Source: chimeratk-server-mockup-opcua
Priority: extra
Maintainer: Klaus Zenker <k.zenker@hzdr.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1), doxygen (= 1.8.11-1), libchimeratk-controlsystemadapter-dev (= 00.13xenial2.00), libchimeratk-applicationcore-dev (= 00.13xenial7.02), libchimeratk-controlsystemadapter-opcuaadapter-dev (= 01.05xenial7.01)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ServerMockup

Package: chimeratk-server-mockup-opcua
Section: net
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: server-mockup
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: ChimeraTK ApplicationCore based server mockup for integration tasks.

