PACKAGE_BASENAME="chimeratk-server-mockup-opcua"
SOURCE_URI="https://github.com/ChimeraTK/ServerMockup"
VERSION="00.01.00"
TAGVERSION=00.01.00
SOVERSION="00.01xenial3.00"
DEBVERSION="00-01-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="00.01xenial3.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-server-mockup-opcua library version 00.01.00"
ARCH="amd64"
