PACKAGE_BASENAME="epics-sdm-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/SDM/sdm-server.git"
VERSION="02.01.03"
TAGVERSION=02.01.03
SOVERSION="02.01focal1.03"
DEBVERSION="02-01-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="02.01focal1.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the epics-sdm-server library version 02.01.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
