PACKAGE_BASENAME="libdoocs-tc4-eqfct"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/common/tc4eqfct.git"
VERSION="01.06.00"
TAGVERSION=01.06.00
SOVERSION="01.06xenial16.00"
DEBVERSION="01-06-xenial16"
PROJECT_BUILDVERSION="xenial16"
PACKAGE_VERSION="01.06xenial16.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-tc4-eqfct library version 01.06.00"
ARCH="amd64"
