PACKAGE_BASENAME="doocs-linklock-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/fibre-link-stabilisation/link-lock-server.git"
VERSION="01.29.01"
TAGVERSION=01.29.01
SOVERSION="01.29noble2.01"
DEBVERSION="01-29-noble2"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="01.29noble2.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-linklock-server library version 01.29.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
