Source: libconsatt-doocs
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1), doxygen (= 1.8.11-1), libconsatt-dev (= 00.03xenial1.01), libboost-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 18.10.17-xenial1), dev-doocs-serverlib (= 18.10.17-xenial1), libboost-test-dev (= 1.58.0.1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/lbsync/libConsatt-Doocs.git

Package: libconsatt-doocs-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libconsatt-doocs00-02-xenial4, libconsatt-dev (>= 00.03xenial1), libconsatt-dev (<< 00.03xenial2), libboost-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 18.10.17-xenial1), dev-doocs-serverlib (= 18.10.17-xenial1)
Description: Header and cmake files for the Consatt-Doocs Library.

Package: libconsatt-doocs00-02-xenial4
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Consatt (control system attacher) library.

