PACKAGE_BASENAME="libchimeratk-controlsystemadapter-epics-ioc-adapter"
SOURCE_URI="https://github.com/ChimeraTK/ControlSystemAdapter-EPICS-IOC-Adapter"
VERSION="01.01.00"
TAGVERSION=01.01.00
SOVERSION="01.01xenial3.00"
DEBVERSION="01-01-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="01.01xenial3.00"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-controlsystemadapter-epics-ioc-adapter library version 01.01.00"
ARCH="amd64"
