Source: doocs-dcm-ctrl-server
Priority: extra
Maintainer: Dietrich Rothe <dietrich.rothe@desy.de>
Build-Depends: pkg-config (= 0.29.1-0ubuntu4), dev-doocs-clientlib (= 21.12.1-focal1), dev-doocs-serverlib (= 21.12.1-focal1), libchimeratk-deviceaccess-dev (= 02.08focal1.00-0), doxygen (= 1.8.17-0ubuntu2), graphviz (= 2.42.2-3build2), libchimeratk-deviceaccess-doocsbackend-dev (= 01.03focal5.00-0), libmath-utils-dev (= 03.00focal1.00-0), libboost-filesystem-dev (= 1.71.0.0ubuntu2), libboost-log-dev (= 1.71.0.0ubuntu2), libboost-test-dev (= 1.71.0.0ubuntu2), doocs-watchdog-server (= 21.12.1-focal1), libchimeratk-applicationcore-dev (= 02.06focal3.00-0), libchimeratk-controlsystemadapter-doocsadapter-dev (= 01.03focal6.00-0), doocs-dcm-ctrl-config07-01 (= 07.01focal2.01-0), doocs-llrfctrlconfig-generator02-02 (= 02.02focal1.00-0)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_dcm.git

Package: doocs-dcm-ctrl-server07-01-focal2
Section: net
Architecture: amd64
Conflicts: doocs-dcm-ctrl-server, doocs-dcm-ctrl-xfel-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-dcm-ctrl-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, python3-mtca4upy, python3-numpy, doocs-dcm-ctrl-config07-01, doocs-llrfctrlconfig-generator02-02
Description: DESY FLASH/XFEL controls package. DOOCS DCM control server.

