PACKAGE_BASENAME="doocs-llrfpiezo-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfpiezoctrl.git"
VERSION="03.09.04"
TAGVERSION=03.09.04
SOVERSION="03.09focal1.04"
DEBVERSION="03-09-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="03.09focal1.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfpiezo-server library version 03.09.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
