PACKAGE_BASENAME="python3-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="03.00.00"
TAGVERSION=03.00.00
SOVERSION="03.00focal4.00"
DEBVERSION="03-00-focal4"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="03.00focal4.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the python3-mtca4upy library version 03.00.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
