PACKAGE_BASENAME="doocs-ulog-ctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_ulog.git"
VERSION="01.03.04"
TAGVERSION=01.03.04
SOVERSION="01.03xenial3.04"
DEBVERSION="01-03-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="01.03xenial3.04"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-ulog-ctrl-server library version 01.03.04"
ARCH="amd64"
