PACKAGE_BASENAME="doocs-llrfctrl-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/llrfctrl/llrf-controller-server-configuration/llrfctrl-config.git"
VERSION="08.09.03"
TAGVERSION=08.09.03
SOVERSION="08.09focal1.03"
DEBVERSION="08-09"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="08.09focal1.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrl-config library version 08.09.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
