PACKAGE_BASENAME="chimeratk-deviceaccess-matlabtools"
SOURCE_URI="https://github.com/ChimeraTK/MatlabTools"
VERSION="01.00.01"
TAGVERSION=01.00.01
SOVERSION="01.00focal3.01"
DEBVERSION="01-00-focal3"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="01.00focal3.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-matlabtools library version 01.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS="/opt/matlab_R2016b"
