PACKAGE_BASENAME="libdemac"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/consatt-based-libraries/demac.git"
VERSION="00.39.00"
TAGVERSION=00.39.00
SOVERSION="00.39noble3.00"
DEBVERSION="00-39-noble3"
PROJECT_BUILDVERSION="noble3"
PACKAGE_VERSION="00.39noble3.00"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the demac library version 00.39.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
