Source: doocs-sdm-server
Priority: extra
Maintainer: Jens Georg <jens.georg@desy.de>
Build-Depends: libtirpc-dev (= 1.2.5-1ubuntu0.1), pkg-config (= 0.29.1-0ubuntu4), libboost-dev (= 1.71.0.0ubuntu2), libboost-thread-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-filesystem-dev (= 1.71.0.0ubuntu2), dev-doocs-clientlib (= 22.11.0-focal1), dev-doocs-serverlib (= 22.11.0-focal1), doocs-watchdog-server (= 22.11.0-focal4), libchimeratk-deviceaccess-dev (= 03.07focal1.01-0), libtec-applicationmodule-dev (= 02.00focal2.00-0), dev-doocs-libgul14 (= 22.11.0-focal1), libchimeratk-controlsystemadapter-doocsadapter-dev (= 01.07focal6.01-0), doocs-sdm-config02-01 (= 02.01focal1.00-0), config-generator-scripts02-02 (= 02.02focal1.03-0), libzmq3-dev (= 4.3.2-2ubuntu1), libmath-utils-dev (= 03.00focal1.01-0)
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/special-diagnostics/SDM/sdm-server.git

Package: doocs-sdm-server02-01-focal1
Section: net
Architecture: amd64
Conflicts: doocs-sdm-server
Replaces: 
Breaks: 
Recommends: pcieuni-dkms
Suggests: 
Enhances: 
Provides: doocs-sdm-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-sdm-config02-01
Description: DOOCS server for Special Diagnostic Module

