PACKAGE_BASENAME="libdemac"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/lbsync/libDemac.git"
VERSION="00.25.00"
TAGVERSION=00.25.00
SOVERSION="00.25focal2.00"
DEBVERSION="00-25-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="00.25focal2.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the demac library version 00.25.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
