PACKAGE_BASENAME="doocs-bam-server-classic"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam.git"
VERSION="01.19.09"
TAGVERSION=01.19.09
SOVERSION="01.19focal3.09"
DEBVERSION="01-19-focal3"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="01.19focal3.09"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-bam-server-classic library version 01.19.09"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
