PACKAGE_BASENAME="doocs-llrfpiezo-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/low-level-radio-frequency/piezo/piezo-server-configuration.git"
VERSION="04.07.04"
TAGVERSION=04.07.04
SOVERSION="04.07focal4.04"
DEBVERSION="04-07"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="04.07focal4.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfpiezo-config library version 04.07.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
