PACKAGE_BASENAME="doocs-sdm-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/sdm-config.git"
VERSION="01.09.10"
TAGVERSION=01.09.10
SOVERSION="01.09focal2.10"
DEBVERSION="01-09"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="01.09focal2.10"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-sdm-config library version 01.09.10"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
