PACKAGE_BASENAME="opcua-llrfctrlhzdr-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlhzdr.git"
VERSION="02.05.04"
TAGVERSION=02.05.04
SOVERSION="02.05xenial3.04"
DEBVERSION="02-05-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="02.05xenial3.04"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the opcua-llrfctrlhzdr-server library version 02.05.04"
ARCH="amd64"
