PACKAGE_BASENAME="config-bam-server"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/BAM/server-configurations/desy-bam-server-config.git"
VERSION="03.04.11"
TAGVERSION=03.04.11
SOVERSION="03.04bookworm1.11"
DEBVERSION="03-04"
PROJECT_BUILDVERSION="bookworm1"
PACKAGE_VERSION="03.04bookworm1.11"
DISTRIBUTION="bookworm"
PACKAGE_MESSAGE="Debian package for the config-bam-server library version 03.04.11"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
