PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="01.09.02"
TAGVERSION=01.09.02
SOVERSION="01.09focal19.02"
DEBVERSION="01-09-focal19"
PROJECT_BUILDVERSION="focal19"
PACKAGE_VERSION="01.09focal19.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 01.09.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
