Source: libdaction
Priority: extra
Maintainer: Filip Makowski <filip.makowski@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu1), doxygen (= 1.8.11-1), libboost-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 18.10.11-xenial1), dev-doocs-serverlib (= 18.10.11-xenial1), libmtca4u-deviceaccess-dev (= 00.21xenial1.01), libboost-test-dev (= 1.58.0.1ubuntu1), libboost-system-dev (= 1.58.0.1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/rf/dactionlib.git

Package: libdaction-dev
Section: libdevel
Architecture: amd64
Conflicts: dev-doocs-daction
Replaces: dev-doocs-daction
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libdaction02-06-xenial1, libboost-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 18.10.11-xenial1), dev-doocs-serverlib (= 18.10.11-xenial1), libmtca4u-deviceaccess-dev (>= 00.21xenial1), libmtca4u-deviceaccess-dev (<< 00.21xenial2)
Description: Header and cmake files for the DAction Library.

Package: libdaction02-06-xenial1
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DAction library.

