PACKAGE_BASENAME="libtmcb-access"
SOURCE_URI="http://doocs-git.desy.de/cgit/vendor/desy/msk/tmcb_library.git"
VERSION="01.00.02"
TAGVERSION=01.00.02
SOVERSION="01.00focal10.02"
DEBVERSION="01-00-focal10"
PROJECT_BUILDVERSION="focal10"
PACKAGE_VERSION="01.00focal10.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the tmcb-access library version 01.00.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
