Source: libchimeratk-controlsystemadapter-epics-ioc-adapter
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper | debhelper-compat, doxygen (= 1.8.17-0ubuntu2), libchimeratk-controlsystemadapter-dev (= 02.09focal1.00-0), libreadline-dev (= 8.0-4) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ControlSystemAdapter-EPICS-IOC-Adapter

Package: libchimeratk-controlsystemadapter-epics-ioc-adapter-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-controlsystemadapter-epics-ioc-adapter02-01-focal4, libchimeratk-controlsystemadapter-dev (>= 02.09focal1), libchimeratk-controlsystemadapter-dev (<< 02.09focal2)
Description: Header and cmake files for the EPICS R3.16 IOC Adapter for the ChimeraTK ControlSystemAdapter. The files you need to compile against libchimeratk-controlsystemadaper-epics-ioc-adapter.

Package: libchimeratk-controlsystemadapter-epics-ioc-adapter02-01-focal4
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-controlsystemadapter-epics-ioc-adapter provides the EPICS R3.16 IOC adapter for the ChimeraTK ControlSystemAdapter. Linking against this library will make an EPICS R3.16 IOC out of any control application built against the ChimeraTK ControlSystemAdapter.

