PACKAGE_BASENAME="doocs-bam-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/diagnostics/bam-config.git"
VERSION="01.18.01"
TAGVERSION=01.18.01
SOVERSION="01.18xenial1.01"
DEBVERSION="01-18"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="01.18xenial1.01"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-bam-config library version 01.18.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
