Source: libdemac
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: doxygen (= 1.8.11-1ubuntu0.1), libconsatt-dev (= 00.12xenial1.00), libchimeratk-deviceaccess-dev (= 01.06xenial1.00), libboost-dev (= 1.58.0.1ubuntu1), libboost-test-dev (= 1.58.0.1ubuntu1), libtec-dev (= 01.03xenial9.00), libmtca4u-motordrivercard-dev (= 01.09xenial8.00)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/lbsync/libDemac.git

Package: libdemac-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libdemac00-13-xenial2, libboost-dev (= 1.58.0.1ubuntu1), libconsatt-dev (>= 00.12xenial1), libconsatt-dev (<< 00.12xenial2), libchimeratk-deviceaccess-dev (>= 01.06xenial1), libchimeratk-deviceaccess-dev (<< 01.06xenial2), libtec-dev (>= 01.03xenial9), libtec-dev (<< 01.03xenial10), libmtca4u-motordrivercard-dev (>= 01.09xenial8), libmtca4u-motordrivercard-dev (<< 01.09xenial9)
Description: Header and cmake files for the Demac Library.

Package: libdemac00-13-xenial2
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Demac (Device Modules, Actuators and Controllers) library.

