PACKAGE_BASENAME="libchimeratk-motordrivercard-applicationmodule"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard-ApplicationModule"
VERSION="00.02.02"
TAGVERSION=00.02.02
SOVERSION="00.02focal4.02"
DEBVERSION="00-02-focal4"
PROJECT_BUILDVERSION="focal4"
PACKAGE_VERSION="00.02focal4.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-motordrivercard-applicationmodule library version 00.02.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
