PACKAGE_BASENAME="libinja"
SOURCE_URI="https://github.com/pantor/inja"
VERSION="3.5.0"
TAGVERSION=v3.5.0
SOVERSION="3.5noble1.0"
DEBVERSION="3-5-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="3.5noble1.0"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the inja library version 3.5.0"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
