Source: python3-chimeratk-steppermotor
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: libmtca4u-motordrivercard-dev (= 01.10focal6.02-0), libboost-python-dev (= 1.71.0.0ubuntu2), python3-dev (= 3.8.2-0ubuntu2)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/MotorDriverCard-PythonBindings

Package: python3-chimeratk-steppermotor
Section: utils
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python3
Description: This package provides python bindings for the ChimeraTK MotorDriverCard library

