PACKAGE_BASENAME="python3-chimeratk-steppermotor"
SOURCE_URI="https://github.com/ChimeraTK/MotorDriverCard-PythonBindings"
VERSION="00.03.04"
TAGVERSION=00.03.04
SOVERSION="00.03focal1.04"
DEBVERSION="00-03-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="00.03focal1.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the python3-chimeratk-steppermotor library version 00.03.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
