Source: libchimeratk-applicationcore-serverhistorymodule
Priority: extra
Maintainer: Klaus Zenker <k.zenker@hzdr.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libchimeratk-deviceaccess-dev (= 03.06focal1.00-0), libchimeratk-applicationcore-dev (= 03.00focal2.01-0)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/ApplicationCore-ServerHistoryModule

Package: libchimeratk-applicationcore-serverhistorymodule-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-applicationcore-serverhistorymodule01-00-focal2, libchimeratk-deviceaccess-dev (>= 03.06focal1), libchimeratk-deviceaccess-dev (<< 03.06focal2)
Description: Header and cmake files for the ApplicationCore server based history module.

Package: libchimeratk-applicationcore-serverhistorymodule01-00-focal2
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Provides the server based ApplicaitonCore history module.

