PACKAGE_BASENAME="libconsatt-apps"
SOURCE_URI="https://gitlab.desy.de/msk-sw/laser-based-synchronisation/consatt-based-libraries/consatt-apps.git"
VERSION="00.30.00"
TAGVERSION=00.30.00
SOVERSION="00.30focal2.00"
DEBVERSION="00-30-focal2"
PROJECT_BUILDVERSION="focal2"
PACKAGE_VERSION="00.30focal2.00"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the consatt-apps library version 00.30.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
