PACKAGE_BASENAME="doocs-llrfpiezo-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfpiezoctrl-config.git"
VERSION="03.09.07"
TAGVERSION=03.09.07
SOVERSION="03.09focal1.07"
DEBVERSION="03-09"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="03.09focal1.07"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfpiezo-config library version 03.09.07"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
