Source: libchimeratk-deviceaccess-piezoserialbackend
Priority: extra
Maintainer: Filip Makowski <filip.makowski@desy.de>
Build-Depends: doxygen (= 1.8.17-0ubuntu2), libchimeratk-deviceaccess-dev (= 03.06focal1.00-0), libboost-dev (= 1.71.0.0ubuntu2), libboost-system-dev (= 1.71.0.0ubuntu2), libboost-test-dev (= 1.71.0.0ubuntu2)
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/low-level-radio-frequency/piezo/piezo-serial-backend.git

Package: libchimeratk-deviceaccess-piezoserialbackend-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess-piezoserialbackend01-00-focal23, libchimeratk-deviceaccess-dev (>= 03.06focal1), libchimeratk-deviceaccess-dev (<< 03.06focal2)
Description: Header and cmake files for the PiezoSerial Backend for the ChimeraTK DeviceAccess library. The files you need to compile against libchimeratk-deviceaccess-piezoserialbackend.

Package: libchimeratk-deviceaccess-piezoserialbackend01-00-focal23
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-deviceaccess-piezoserialbackend provides the PiezoSerial backend for the ChimeraTK DeviceAccess library, which allows accessing PZ16M via USB diagnostic port  as devices through the DeviceAccess interface.

