Source: libchimeratk-deviceaccess-doocsbackend
Priority: extra
Maintainer: Martin Killenberg <martin.killenberg@desy.de>
Build-Depends: doxygen (= 1.8.11-1ubuntu0.1), libchimeratk-deviceaccess-dev (= 01.08xenial1.00), dev-doocs-clientlib (= 19.10.0-xenial1), dev-doocs-serverlib (= 19.10.0-xenial2), libboost-test-dev (= 1.58.0.1ubuntu1), libdoocs-server-test-helper-dev (= 01.03xenial6.03), dev-doocs-libgul (= 19.10.0-xenial1), libxml++2.6-dev (= 2.40.1-1)
Standards-Version: 3.8.3
Section: libs
Homepage: https://github.com/ChimeraTK/DeviceAccess-DoocsBackend

Package: libchimeratk-deviceaccess-doocsbackend-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess-doocsbackend00-17-xenial6, libchimeratk-deviceaccess-dev (>= 01.08xenial1), libchimeratk-deviceaccess-dev (<< 01.08xenial2), dev-doocs-clientlib (= 19.10.0-xenial1), dev-doocs-serverlib (= 19.10.0-xenial2), dev-doocs-libgul (= 19.10.0-xenial1)
Description: Header and cmake files for the DOOCS Backend for the ChimeraTK DeviceAccess library. The files you need to compile against libchimeratk-deviceaccess-doocsbackend.

Package: libchimeratk-deviceaccess-doocsbackend00-17-xenial6
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-deviceaccess-doocsbackend provides the DOOCS backend for the ChimeraTK DeviceAccess library, which allows accessing DOOCS servers as devices through the DeviceAccess interface.

