PACKAGE_BASENAME="libchimeratk-deviceaccess-doocsbackend"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-DoocsBackend"
VERSION="00.19.02"
TAGVERSION=00.19.02
SOVERSION="00.19focal1.02"
DEBVERSION="00-19-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="00.19focal1.02"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-doocsbackend library version 00.19.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
