Source: libchimeratk-deviceaccess-modbusbackend
Priority: extra
Maintainer: Klaus Zenker <k.zenker@hzdr.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu3), doxygen (= 1.8.11-1), libchimeratk-deviceaccess-dev (= 01.00xenial1.06), libboost-test-dev (= 1.58.0.1ubuntu1), libmodbus-dev (= 3.0.6-1)
Standards-Version: 3.8.3
Section: libs
Homepage: /home/zenker/sw/DeviceAccess-Modbus

Package: libchimeratk-deviceaccess-modbusbackend-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libchimeratk-deviceaccess-modbusbackend00-01-xenial2, libchimeratk-deviceaccess-dev (>= 01.00xenial1), libchimeratk-deviceaccess-dev (<< 01.00xenial2), libmodbus-dev (= 3.0.6-1)
Description: Header and cmake files for the Modbus Backend for the ChimeraTK DeviceAccess library. The files you need to compile against libchimeratk-deviceaccess-modbusbackend.

Package: libchimeratk-deviceaccess-modbusbackend00-01-xenial2
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libchimeratk-deviceaccess-modbusbackend provides the modbus backend for the ChimeraTK DeviceAccess library, which allows accessing modbus devices via tcp.

