PACKAGE_BASENAME="libchimeratk-deviceaccess-modbusbackend"
SOURCE_URI="/home/zenker/sw/DeviceAccess-Modbus"
VERSION="00.01.04"
TAGVERSION=00.01.04
SOVERSION="00.01xenial2.04"
DEBVERSION="00-01-xenial2"
PROJECT_BUILDVERSION="xenial2"
PACKAGE_VERSION="00.01xenial2.04"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the chimeratk-deviceaccess-modbusbackend library version 00.01.04"
ARCH="amd64"
