PACKAGE_BASENAME="deploy-tool"
SOURCE_URI="https://gitlab.desy.de/msk-sw/utilities/deploytool/deploy-tool.git"
VERSION="02.04.00"
TAGVERSION=02.04.00
SOVERSION="02.04jammy1.00"
DEBVERSION="02-04-jammy1"
PROJECT_BUILDVERSION="jammy1"
PACKAGE_VERSION="02.04jammy1.00"
DISTRIBUTION="jammy"
PACKAGE_MESSAGE="Debian package for the deploy-tool library version 02.04.00"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
