PACKAGE_BASENAME="libdoocsllrfwrapper"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/library/rf/doocsllrfwrapper.git"
VERSION="00.14.03"
TAGVERSION=00.14.03
SOVERSION="00.14focal3.03"
DEBVERSION="00-14-focal3"
PROJECT_BUILDVERSION="focal3"
PACKAGE_VERSION="00.14focal3.03"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocsllrfwrapper library version 00.14.03"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
