PACKAGE_BASENAME="doocs-llrfctrlsrf-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlsrf.git"
VERSION="05.09.09"
TAGVERSION=v05.09.09
SOVERSION="05.09xenial10.09"
DEBVERSION="05-09-xenial10"
PROJECT_BUILDVERSION="xenial10"
PACKAGE_VERSION="05.09xenial10.09"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the doocs-llrfctrlsrf-server library version 05.09.09"
ARCH="amd64"
