PACKAGE_BASENAME="python3-mtca4upy"
SOURCE_URI="https://github.com/ChimeraTK/DeviceAccess-PythonBindings"
VERSION="04.01.01"
TAGVERSION=04.01.01
SOVERSION="04.01noble1.01"
DEBVERSION="04-01-noble1"
PROJECT_BUILDVERSION="noble1"
PACKAGE_VERSION="04.01noble1.01"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the python3-mtca4upy library version 04.01.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
