Source: config-generator-scripts
Priority: optional
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: debhelper | debhelper-compat, debhelper (= 13.14.1ubuntu5), cmake (= 3.28.3-1build7), python3 (= 3.12.3-0ubuntu2), python3-mako (= 1.3.2-1) 
Standards-Version: 3.8.3
Section: libs
Homepage: https://gitlab.desy.de/msk-sw/utilities/config-generator/config-generator-scripts.git

Package: config-generator-scripts03-01
Section: net
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: config-generator-scripts
Depends: ${shlibs:Depends}, ${misc:Depends}, git, python3, python3-mako, python3-packaging, python3-simplejson, ca-certificates
Description: Config Generator script package, for MSK server auto-configuration

