PACKAGE_BASENAME="doocs-llrfdiagnostic-config"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrf_diagnostic-config.git"
VERSION="03.00.01"
TAGVERSION=03.00.01
SOVERSION="03.00focal1.01"
DEBVERSION="03-00"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="03.00focal1.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-llrfdiagnostic-config library version 03.00.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
