PACKAGE_BASENAME="doocs-pi-qmotion-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/pi-qmotion/pi-qmotion-config.git"
VERSION="00.08.02"
TAGVERSION=00.08.02
SOVERSION="00.08noble2.02"
DEBVERSION="00-08"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="00.08noble2.02"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-pi-qmotion-config library version 00.08.02"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
