PACKAGE_BASENAME="doocs-mo-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/flashmo.git"
VERSION="01.03.04"
TAGVERSION=01.03.04
SOVERSION="01.03focal1.04"
DEBVERSION="01-03-focal1"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.03focal1.04"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-mo-server library version 01.03.04"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
