Source: libconsatt-doocs
Priority: extra
Maintainer: Tomasz Kozak <tomasz.kozak@desy.de>
Build-Depends: debhelper (= 9.20160115ubuntu3), cmake (= 3.5.1-1ubuntu3), doxygen (= 1.8.11-1), libconsatt-dev (= 00.09xenial1.00), libboost-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 18.11.6-xenial1), dev-doocs-serverlib (= 18.11.6-xenial3), libboost-test-dev (= 1.58.0.1ubuntu1)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/library/lbsync/libConsatt-Doocs.git

Package: libconsatt-doocs-dev
Section: libdevel
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: libconsatt-doocs00-05-xenial5, libconsatt-dev (>= 00.09xenial1), libconsatt-dev (<< 00.09xenial2), libboost-dev (= 1.58.0.1ubuntu1), dev-doocs-clientlib (= 18.11.6-xenial1), dev-doocs-serverlib (= 18.11.6-xenial3)
Description: Header and cmake files for the Consatt-Doocs Library.

Package: libconsatt-doocs00-05-xenial5
Section: libs
Architecture: amd64
Conflicts: 
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Consatt (control system attacher) library.

