PACKAGE_BASENAME="doocs-ldd-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/infrastructure-and-support/laser-diode-driver/ldd-server-configuration.git"
VERSION="01.08.11"
TAGVERSION=01.08.11
SOVERSION="01.08noble2.11"
DEBVERSION="01-08"
PROJECT_BUILDVERSION="noble2"
PACKAGE_VERSION="01.08noble2.11"
DISTRIBUTION="noble"
PACKAGE_MESSAGE="Debian package for the doocs-ldd-config library version 01.08.11"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
PRE_PDEBUILD_HOOK=""
