PACKAGE_BASENAME="python3-robotframework-desy"
SOURCE_URI="https://github.com/robotframework/robotframework.git"
VERSION="3.0.2"
TAGVERSION=3.0.2
SOVERSION="3.0xenial1.2"
DEBVERSION="3-0-xenial1"
PROJECT_BUILDVERSION="xenial1"
PACKAGE_VERSION="3.0xenial1.2"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the python3-robotframework-desy library version 3.0.2"
ARCH="amd64"
