#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# default action
%:
	dh $@ --with python3 --buildsystem=pybuild 

override_dh_auto_install:
	dh_auto_install
	python3 setup.py install --root=debian/python3-robotframework-desy --install-layout=deb --no-compile
# don't run test in parallel
override_dh_auto_test:
	dh $@ --no-parallel
# Override flags for Project if needed.
override_dh_auto_configure:
	dh_auto_configure -- "-DPYTHON3=True"

