PACKAGE_BASENAME="doocs-eod-config"
SOURCE_URI="https://gitlab.desy.de/msk-sw/special-diagnostics/eod/eod-config.git"
VERSION="01.03.01"
TAGVERSION=01.03.01
SOVERSION="01.03focal1.01"
DEBVERSION="01-03"
PROJECT_BUILDVERSION="focal1"
PACKAGE_VERSION="01.03focal1.01"
DISTRIBUTION="focal"
PACKAGE_MESSAGE="Debian package for the doocs-eod-config library version 01.03.01"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
