PACKAGE_BASENAME="epics-llrfctrl-server"
SOURCE_URI="http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrl.git"
VERSION="07.02.05"
TAGVERSION=07.02.05
SOVERSION="07.02xenial3.05"
DEBVERSION="07-02-xenial3"
PROJECT_BUILDVERSION="xenial3"
PACKAGE_VERSION="07.02xenial3.05"
DISTRIBUTION="xenial"
PACKAGE_MESSAGE="Debian package for the epics-llrfctrl-server library version 07.02.05"
ARCH="amd64"
ADDITIONAL_BIND_MOUNTS=""
