Source: doocs-llrfctrlnrf-server
Priority: extra
Maintainer: Martin Hierholzer <martin.hierholzer@desy.de>
Build-Depends: dev-doocs-clientlib (= 19.2.0-xenial1), dev-doocs-serverlib (= 19.2.0-xenial1), dev-doocs-doocsdzmqlib (= 19.2.0-xenial1), libdoocsllrfwrapper-dev (= 00.14xenial4.00), libllrflibrary-dev (= 05.00xenial1.00), liblua5.2-dev (= 5.2.4-1ubuntu1), doocs-watchdog-server (= 19.2.0-xenial1), doocs-llrfctrlconfig-generator01-05 (= 01.05xenial1.27)
Standards-Version: 3.8.3
Section: libs
Homepage: http://doocs-git.desy.de/cgit/doocs/server/rf/llrfctrlnrf.git

Package: doocs-llrfctrlnrf-server03-08-xenial5
Section: net
Architecture: amd64
Conflicts: doocs-llrfctrl-server, doocs-llrfctrlsrf-server, doocs-llrfctrlnrf-server
Replaces: 
Breaks: 
Recommends: 
Suggests: 
Enhances: 
Provides: doocs-llrfctrl-server
Depends: ${shlibs:Depends}, ${misc:Depends}, doocs-dirs | doocs-dirs-min, doocs-watchdog-server, doocs-llrfctrlconfig-generator01-05
Description: DESY FLASH/XFEL controls package. DOOCS low-level RF control server for DESY single-cavity systems (and optionally virtual probes).

